[2021-01-12 07:39] floweri opened #304 "how to get image without saving it?"
I want to pass image URL to another activity, but only the image itself without its label and text and other filter effect, how can I get image with it filters?

[2021-01-12 09:12] adn1997 commented on #302
I tried this and the result you can see in the screenshots. The position and size doesn't fit to the picture anymore.
**Before rotating**
![photo_2021-01-12 10 08 46](https://user-images.githubusercontent.com/47034224/104293613-79dd5580-54be-11eb-8d27-ccd907b9ec1e.jpeg)
**After rotating**
![photo_2021-01-12 10 08 52](https://user-images.githubusercontent.com/47034224/104293637-7fd33680-54be-11eb-9

[2021-01-15 12:31] worldemp-pratikpitale opened #305 "How can we save edited objects like pen, text, shape and colour in JSON format?"
I want save edited part separately, without saving on original image.

[2021-01-16 11:00] burhanrashid52 commented on #303
Sorry. I did not get it. What do you mean by moving the source text position? Do mean you the text added on PhotoEditorView?
Also, it will be helpful if you can attach a video/gif/image to make it more clear.

[2021-01-16 11:04] burhanrashid52 commented on #304
So you want to pass only filters to the next activity but not the labels and text? If yes, then the library does not handle that. However, you can make it work by just passing the filter type from the intent and set it programmatically in the second activity.

[2021-01-16 11:08] burhanrashid52 commented on #302
Interesting. Currently, I don't have the bandwidth to add that feature. All PR are welcome.
Also, can you explain a use case here of rotating the screen while editing?

[2021-01-16 11:10] burhanrashid52 commented on #305
Not supported by the library out of the box. Might be related to #119 #26

[2021-01-16 18:17] dev-mher commented on #303
Thanks for the reply!
At first, I add the Text by `PhotoEditor.addText("Any Text", TextStyleBuilder)`
Then, after a long click on the text ("Any Text") it's invoked the callback `onEditTextChangeListener(RootView, AnyText, ColorCode)`
Then, as in the sample app, opens a new window for editing.
And after editing calls ` PhotoEditor.editText(RootView, EditedOrTheSameText, TextStyleBuilder) `
Then my

[2021-01-16 18:18] dev-mher commented on #303
https://user-images.githubusercontent.com/22224513/104819704-48f37c80-5840-11eb-84d4-4ac9b251b6f2.mp4

[2021-01-16 18:21] dev-mher commented on #303
https://user-images.githubusercontent.com/22224513/104819762-bd2e2000-5840-11eb-8045-8323d3d59e66.mov

[2021-01-16 18:22] dev-mher commented on #303
https://user-images.githubusercontent.com/22224513/104819784-d636d100-5840-11eb-8f43-9f3abfd5e117.mov

[2021-01-19 15:07] PedroBGDev commented on #179
Is these issue solved?

[2021-01-19 20:25] shrikanth7698 opened #306 "onEditTextChangeListener getting called even for slight adjustment of text on the image"
Steps to reproduce:
1. Add a text to photo editor
   `photoEditor.addText(
                                binding.editAddedText.text.toString(),
                                addEditTextColor
                        )`
2. Then move the added text by a small distance.

This will call `onEditTextChangeListener` immediately which results in opening of the text edit window which interrupts the text

[2021-01-20 11:37] burhanrashid52 commented on #306
I checked in the sample app. I am not able to reproduce it. Can you share your code snippet?

[2021-01-20 11:38] #305 closed

[2021-01-25 10:09] skyyyme commented on #221
I have the following code in place and I a still getting black bars around my image. @romaankhanAndroid

[code]

[2021-01-31 02:10] burhanrashid52 commented on #286
Duplicate of #150

[2021-01-31 02:10] #286 closed

[2021-01-31 02:11] burhanrashid52 commented on #289
Duplicate #79

[2021-01-31 02:11] #289 closed

[2021-02-01 10:22] nvngoc2409 opened #309 "Unwanted background color appears"
Vertical images are of great height will cause the image to add unwanted background color on the sides after applying some filters.
![1612173038337](https://user-images.githubusercontent.com/2100914/106445765-02458980-64b2-11eb-83da-0edc65142ffc.png)

[2021-02-02 09:43] burhanrashid52 commented on #309
Did you try settings options `setTransparencyEnabled(true)` ?
https://github.com/burhanrashid52/PhotoEditor/wiki/Saving

[2021-02-03 10:27] ShaikzzCode opened #310 "Not Saving Image"
Edited Image is not saving in android version 11 ,please update the project for Android 11

[2021-02-04 10:03] burhanrashid52 commented on #310
That's not a library issue. This is part of the sample app. I will happy to merged a PR on this.

[2021-02-05 08:07] lillogoal commented on #291
You are right!! I'm testing with more and more cases. After tests i will reply with result.

[2021-02-09 09:15] surajpunemaha opened #311 "How can I add custom (downloaded) filters"
I want to add filters which my client will provide. Is there any way to add that? if can add, what should be the file format for filters?

[2021-02-09 13:33] burhanrashid52 commented on #311
There is no direct way to get a filter. You can use [EffectFactory](https://developer.android.com/reference/android/media/effect/EffectFactory) to get different filters. The library has a predefined set of EffectFactory filter, you can create use [CustomeEffect](https://github.com/burhanrashid52/PhotoEditor/wiki/Filter-Effect#custom-filter) API to create custom filters.

[2021-02-09 15:12] surajpunemaha commented on #311
I checked it. I want to apply different filters from EffectFactory at once? Is it possible using this library.
for example apply MyCustomEffect = EFFECT_BRIGHTNESS + EFFECT_CROP + EFFECT_FLIP
more effects in single instance. I don't want to save state or same intermediate results in bitmap format.
Other suggestions are also welcomed.

[2021-02-10 11:42] AswinKrishna144 opened #312 "Image Not Saving To Gallery"
Image Is Not Saving In Gallery In Android 10 Pls Solve This Issues. Thank You.

[2021-02-10 13:01] burhanrashid52 commented on #312
Duplicate of #310

[2021-02-10 13:01] #312 closed

[2021-02-12 17:34] BaniHani opened #313 "How to add image from drawable rather than gallery?"

[2021-02-15 04:47] hilmyas commented on #279
I get the same problem

[2021-02-17 15:28] codecracker1993 opened #315 "When the user clicks on Add text, User not able to drag drop text anywhere, It always points to the center."
When the user clicks on Add text, User not able to drag drop text anywhere, It always points to the center.
Can you edit your library with the above function so that users can drag drop text to anywhere in the image.

Text always points to center of screen.
It must be drag drop type. As once user clicks on add text, user must be able to drag drop anywhere in the screen.

[2021-02-18 11:22] burhanrashid52 opened #316 "Android 11 storage support"
Add support for android 11 [scope storage](https://developer.android.com/about/versions/11/privacy/storage) in sample app to demonstrate on to save image.

[2021-02-18 13:51] EzequielAdrianM commented on #277
You need to check if Android version code is **higher or equal to Q** then you **must** use [Scoped Storage](https://developer.android.com/about/versions/11/privacy/storage). This is a very dramatic change if favor of privacy since now, using scoped storage your app can only access some specific types of files, and will be able to create and access only its own created files without asking for sto

[2021-02-19 02:23] hz01 opened #317 "Editor not working"
Only the image is showing up in the activity, the photo editor buttons arent showing up

[2021-02-20 23:19] MarvinStelter opened #318 "Source image gets bigger when imported image is bigger than source image"
Hi,

when I add an Image to the editor thats bigger or a bit smaller than the source image the source image gets bigger (There is an transparent border under and above it.)

How to fix that? Thanks in advance!

[2021-02-23 17:24] codecracker1993 commented on #306
Hi
is your issue resolved? Leme know, I am also facing same issue.

Thanks

[2021-02-24 06:56] surajpunemaha opened #319 "emoji, text getting disappeared"
When I call on `mPhotoEditor.saveAsFile()`. text, emoji's and png added over background getting disappeared.

[2021-02-24 15:11] basitis commented on #313
@BaniHani Do you mean to add as a main image or as sticker image?

[2021-02-24 15:13] basitis commented on #298
@Kishan7up  Currently, the crop image functionality is not implemented. Can you tell more about custom Template?

[2021-02-24 18:33] BaniHani commented on #313
as a main image please.

[2021-02-25 17:25] basitis commented on #313
@BaniHani If you have fix drawable then you can directly give to the xml and if you want to load runtime then library is expose "source"(ImageView).  You can access something like this:

`
photoFrameEditorView.source.setImageDrawable(getResources().getDrawable(R.drawable.my_drawable));`

[2021-03-01 08:56] DenBond7 opened #320 "Migrating packages to Maven Central"
Hello. Due to [JCenter deprecation and end of service](https://developer.android.com/studio/build/jcenter-migration) are you planning to start migrating your packages to a new host, such as [Maven Central](https://maven.apache.org/repository/index.html)?

[2021-03-01 11:35] burhanrashid52 commented on #320
Yes. But not sure about the timeline. Would you like to contribute for to this migration ?

[2021-03-01 12:27] DenBond7 commented on #320
@burhanrashid52 unfortunately, I'm new in library publishing. But if I'll have the needed changes I'll create a new pull request. Anyway, we have time up to February 2022

[2021-03-02 03:25] basitis commented on #313
@BaniHani If your issue is resolved with my comment then please close this issue. Thanks in advance.

[2021-03-02 03:27] basitis commented on #319
Hi @surajpunemaha

Are you using as library or as library module? Have you changed anything? Is this things happens in all devices?

[2021-03-02 03:31] basitis commented on #298
@Kishan7up Are you able to solve the issue as per [#299]()? Then please close both issues or let me know if you need more help

[2021-03-02 03:33] basitis commented on #279
@shahzad1  or @hilmyas : can you provide the sample image to re-generate this issue?

[2021-03-02 03:35] basitis commented on #277
@br-neeraj  and @ham3da  please let me know if this solution given by @EzequielAdrianM  helped you.

[2021-03-02 03:37] basitis commented on #253
@bojjaradhakrishna currently, it is not supported and @burhanrashid52  may know if it will included or not.

[2021-03-02 03:39] basitis commented on #238
@Ahnafjb Please close this issue if @VinoosIr 's answer helped.

[2021-03-02 10:44] burhanrashid52 commented on #253
This problem can be solved by providing a  BG removal source image to the PhotoEditor. Also, I don't see much interest in this feature. Hence closing it.

[2021-03-02 10:44] #253 closed

[2021-03-02 20:54] #313 closed

[2021-03-03 00:44] #297 closed

[2021-03-03 00:48] #311 closed

[2021-03-05 13:13] surajpunemaha commented on #319
`**Are you using as library or as library module?**` Ans = > as library
`**Have you changed anything?**` Ans => No.
`**Is this things happens in all devices?**` Ans=> Yes

[2021-03-05 13:17] surajpunemaha commented on #319
Using it as library. (just implementing dependency in gradle). I didn't changed anything. and yes this is happening on all devices.

I am using it in fragment in viewpager.

[2021-03-05 16:10] basitis commented on #319
@surajpunemaha  ViewPager with adapter tends to initialize the fragment when you come to that Fragment and your all changes (i.e. emoji, text) will be removed as it is not saved automatically by either the library nor by the Fragment. So one option is, save the image before move to another page (you will not able to edit it though after that)

[2021-03-07 04:44] basitis commented on #317
@hz01 Is it possible to share screenshots and following details?

- Used as dependency?
- What is default theme?

[2021-03-07 04:45] basitis commented on #315
@codecracker1993 The library already providing this functionality. The text will able to drag and drop after you complete editing. Are you referencing some other scenarios?

[2021-03-07 04:49] basitis commented on #295
@LeenD11 You can do it by modify the library by import as library module.  The text and sticker layout is in (res)[https://github.com/burhanrashid52/PhotoEditor/tree/e91baade7b7120c74ecd4f3e82e44383391cd0c9/photoeditor/src/main/res/layout] folder. You can modify as per your need.

[2021-03-07 10:36] skyyyme commented on #309
I tried `setTransparencyEnabled(true)` doesn't seem to be working. Also, my layout is set up in a way that I can't change width & height of the `PhotoEditorView` these black bars are all around the image when we apply it and is visible in the preview as well after saving with `setTransparencyEnabled(true)`

[2021-03-09 01:40] JSpiner commented on #230
still in 1.1.0

[2021-03-09 01:40] JSpiner commented on #284
same here

[2021-03-11 02:32] burhanrashid52 commented on #310
Duplicate #316

[2021-03-11 02:32] #310 closed

[2021-03-13 12:34] tanoDxyz commented on #316
#325 well check this out. I gave it a try

[2021-03-15 01:06] JSpiner commented on #284
fixed at [v1.1.1](https://github.com/burhanrashid52/PhotoEditor/releases/tag/v.1.1.1)

[2021-03-15 01:07] JSpiner commented on #284
thanks to @burhanrashid52

[2021-03-16 12:31] ankitbatra11 commented on #232
I am also facing the same issue. Is there any fix available for this?

[2021-03-27 06:59] burhanrashid52 commented on #316
Fixed in #326

[2021-03-27 06:59] #316 closed

[2021-03-27 07:10] burhanrashid52 commented on #277
Added support for android 10/11 #365. Closing due to inacitivty

[2021-03-27 07:10] #277 closed

[2021-03-27 07:11] burhanrashid52 commented on #304
closing due to no acitivty

[2021-03-27 07:11] #304 closed

[2021-03-27 07:11] burhanrashid52 commented on #317
closing due to no acitivty

[2021-03-27 07:11] #317 closed

[2021-03-27 07:12] burhanrashid52 commented on #300
closing due to no acitivty

[2021-03-27 07:12] #300 closed

[2021-03-27 07:12] burhanrashid52 commented on #319
closing due to no acitivty

[2021-03-27 07:12] #319 closed

[2021-03-27 07:12] burhanrashid52 commented on #315
closing due to no acitivty

[2021-03-27 07:12] #315 closed

[2021-03-27 07:13] burhanrashid52 commented on #302
closing due to no acitivty

[2021-03-27 07:13] #302 closed

[2021-03-27 07:13] burhanrashid52 commented on #298
closing due to no acitivty

[2021-03-27 07:13] #298 closed

[2021-03-27 07:14] burhanrashid52 commented on #296
Added Android 10/11 storage #326. Closing due to no acitivty

[2021-03-27 07:14] #296 closed

[2021-03-27 07:15] #284 closed

[2021-03-27 07:15] burhanrashid52 commented on #284
Fixed in v.1.1.1

[2021-03-27 07:16] burhanrashid52 commented on #279
closing due to no acitivty

[2021-03-27 07:16] #279 closed

[2021-03-27 07:16] burhanrashid52 commented on #278
closing due to no acitivty. Reopen if you are still facing this issue.

[2021-03-27 07:16] #278 closed

[2021-03-27 07:17] burhanrashid52 commented on #238
Closing due to no activity.

[2021-03-27 07:17] #238 closed

[2021-03-27 07:17] burhanrashid52 commented on #261
Closing due to no activity.

[2021-03-27 07:17] #261 closed

[2021-03-27 07:18] burhanrashid52 commented on #235
Closing due to no activity.

[2021-03-27 07:18] #235 closed

[2021-03-27 07:18] burhanrashid52 commented on #231
Closing due to no activity.

[2021-03-27 07:18] #231 closed

[2021-03-27 07:19] burhanrashid52 commented on #175
Fixed in #326

[2021-03-27 07:19] #175 closed

[2021-03-27 07:19] burhanrashid52 commented on #226
Fixed in #326

[2021-03-27 07:19] #226 closed

[2021-03-27 07:24] burhanrashid52 commented on #215
Closing due to no activity.

[2021-03-27 07:24] #215 closed

[2021-03-27 07:24] burhanrashid52 commented on #204
Fixed in v.1.1.1

[2021-03-27 07:24] #204 closed

[2021-03-27 07:25] burhanrashid52 commented on #201
No.

[2021-03-27 07:25] #201 closed

[2021-03-27 07:26] burhanrashid52 commented on #189
Closing due to no activity.

[2021-03-27 07:26] #189 closed

[2021-03-27 07:27] burhanrashid52 commented on #158
Closing due to no activity.

[2021-03-27 07:27] #158 closed

[2021-03-27 07:27] #151 closed

[2021-03-27 07:28] burhanrashid52 commented on #96
Closing due to no activity.

[2021-03-27 07:28] #96 closed

[2021-03-27 07:28] burhanrashid52 commented on #160
Closing due to no activity.

[2021-03-27 07:28] #160 closed

[2021-03-27 07:29] burhanrashid52 commented on #118
Closing due to no activity.

[2021-03-27 07:29] #118 closed

[2021-03-27 07:29] burhanrashid52 commented on #8
Closing due to no activity.

[2021-03-27 07:29] #8 closed

[2021-03-27 07:31] burhanrashid52 commented on #32
I don't have the bandwidth to implement this feature. So closing it for now. If someone wants to fix this and reopen this issue.

[2021-03-27 07:31] #32 closed

[2021-03-27 07:31] burhanrashid52 commented on #39
Closing due to no activity.

[2021-03-27 07:31] #39 closed

[2021-03-27 07:32] burhanrashid52 commented on #98
Closing due to no activity.

[2021-03-27 07:32] #98 closed

[2021-03-27 07:52] burhanrashid52 commented on #216
I don't have bandwidth to resolve all the issues. This is an open-source project. I am also looking for a maintainer #314 . You can also contribute to this project.

[2021-03-27 07:52] #216 closed

[2021-04-01 19:48] ursprakash opened #328 "Share functionality crashes application"
Hi,

While trying to use share functionality it asks to save the image first, After successfully saved the image trying to use share functionality it crashes the application with following error stacktrace.

[code]

[2021-04-02 07:03] burhanrashid52 commented on #328
@tanoDxyz Can you check this? This might happened due to the #326 changes

[2021-04-03 18:41] indrapatel8 opened #329 "How to Set Position of Text, Emoji or Image in View at specific location in PhotoEditorView by PhotoEditor?"
How to Set Position of Text, Emoji or Image in View at specific location in PhotoEditorView by PhotoEditor?

Default is Center-Horizontal-Vertical.

I want to set it to other location....

Kindly provide this feature

[2021-04-03 18:42] indrapatel8 opened #330 "How to Set Zoomout of any Text, Emoji ot Image to 0 Level?"

[2021-04-04 10:29] burhanrashid52 commented on #330
What do you mean by 0 Level?

[2021-04-04 10:30] burhanrashid52 commented on #329
Can you please help me understand what is the use case for it?

[2021-04-04 10:45] burhanrashid52 commented on #320
https://search.maven.org/artifact/com.burhanrashid52/photoeditor/1.1.1/aar

[2021-04-04 10:45] #320 closed

[2021-04-04 14:52] indrapatel8 commented on #330
Yes.

[2021-04-04 14:53] indrapatel8 commented on #329
I want to Set Logo in Right Top in default position using addImage(). By Defult it is placed at Center (Horizontal and Vertically).

[2021-04-05 12:53] abdullah230695 opened #332 "groovy.lang.MissingPropertyException: Could not get unknown property 'ossrhUsername' for Credentials [username: null] of type org.gradle.internal.credentials.DefaultPasswordCredentials_Decorated."
Not able to build the gradle, getting this error
Caused by: groovy.lang.MissingPropertyException: Could not get unknown property 'ossrhUsername' for Credentials [username: null] of type org.gradle.internal.credentials.DefaultPasswordCredentials_Decorated.
Any help pls ...

[2021-04-06 10:41] burhanrashid52 commented on #332
What command did you run?

[2021-04-06 14:27] edoedoardo opened #333 "problem dragging sticker"
Hi, thanks for this library!
I noticed a problem with sticker. when I drag it, back to the center as below:

https://user-images.githubusercontent.com/26148419/113726950-f74ae780-96f4-11eb-9d07-1eba087da1b1.mp4

[2021-04-07 07:21] DipakUmrigar opened #334 "Android 11 Media Access issue"
mPhotoEditor.saveAsFile( ) not working to android 11 device

[2021-04-07 07:52] burhanrashid52 commented on #334
Can you please share the stacktrace?

[2021-04-07 10:55] burhanrashid52 commented on #333
This expected behavior when we try to drag sticker outside the `PhotoEditorView` boundary. Can you check if you are drag outside the PhotoEditorView boundary?

[2021-04-07 12:56] edoedoardo commented on #333
I suspected something like this, but the layout is very simple. a match_parent PhotoEditorView on which I just tried adding a sticker.

At the moment I tried the functionality with 2 projects. the first one is a new project (created from zero) and work very well; the second, where i have the problem, is a bit older but use androidX.

some suggestion about the last one?

[2021-04-07 13:56] DipakUmrigar commented on #334
D/PhotoEditor: Failed to save File

On Wed, Apr 7, 2021 at 1:22 PM Burhanuddin Rashid ***@***.***>
wrote:

[2021-04-07 13:57] DipakUmrigar commented on #334
Caused by: android.system.ErrnoException: open failed: EACCES (Permission
denied)

On Wed, Apr 7, 2021 at 7:26 PM Dipak Umrigar - Inspiro Infotech <
***@***.***> wrote:

[2021-04-08 09:05] BerdiyorovAbrorjon opened #335 "Caused by: groovy.lang.MissingPropertyException: Could not get unknown property 'ossrhUsername' for Credentials [username: null] of type org.gradle.internal.credentials.DefaultPasswordCredentials_Decorated."
getting clone from forked repo

[2021-04-08 09:27] burhanrashid52 commented on #335
Duplicate of #332

[2021-04-08 09:27] #335 closed

[2021-04-08 09:35] BerdiyorovAbrorjon commented on #332
Did you find a solution?

[2021-04-08 10:39] xelanac opened #336 "Problem placing a sticker on image"
Problem starts when I have to place a sticker on canvas/image: the sticker returns back to the center, it's like there is gravity.
Other project's dependencies colud create conflicts with this library?

Canvas matches parent's width and height, as you can see in the xml below:

    <ja.burhanrashid52.photoeditor.PhotoEditorView
        android:id="@+id/photoEditorView"
        android:layout_width

[2021-04-08 11:49] burhanrashid52 commented on #336
Duplicate of #333

[2021-04-08 11:49] #336 closed

[2021-04-09 15:11] BerdiyorovAbrorjon opened #337 "Quality of saved image is lower. How can I work with high quality images"
Image quality is average when saving as a bitmap. I got the image in bitmap format and save it in .bmp format. But the image quality is lower. What do I need to do to get a high quality picture. Please help me

[2021-04-10 10:33] burhanrashid52 commented on #337
Duplicate of #10

[2021-04-10 10:33] #337 closed

[2021-04-10 12:18] abdullah230695 commented on #332
I didn't run any command ,I just built gradle, and I got solution to it , I just put the the credentials in comment then it works i mean the gradle build success.

[2021-04-10 18:15] mrvancor commented on #333
As temporary solution: add app:photo_src="@android:color/transparent" to PhotoEditorView

[2021-04-12 07:51] BerdiyorovAbrorjon commented on #332
I have this issue on getting clone from forked repo

[2021-04-13 12:34] tanoDxyz commented on #328
sorry if i am too late
Yes definitely i will check that.

[2021-04-13 12:59] tanoDxyz commented on #328
I believe it is the issue of **File provider**.
and it looks **File provider** is either not defined or there's issue with paths and moreover the following links may help.

https://developer.android.com/reference/androidx/core/content/FileProvider

https://stackoverflow.com/questions/42516126/fileprovider-illegalargumentexception-failed-to-find-configured-root

[2021-04-13 13:59] burhanrashid52 commented on #328
@tanoDxyz Can you raise a PR for this fix?

[2021-04-14 01:09] burhanrashid52 commented on #332
Fixed in #338 PR.

[2021-04-14 16:42] tanoDxyz commented on #328
Although it does not seems to be photoeditor's issue but i will do PR in a day or two.

[2021-04-18 09:39] Rutvik-androidDev opened #339 "text editing tool"
i'm able to add text using editor.addText() and edit text as well but i can not move it, it stay in middle of the screen when try to move it come back to center of the mobile screen

[2021-04-18 10:19] burhanrashid52 commented on #339
Duplicate of #333

[2021-04-18 10:19] #339 closed

[2021-04-19 15:01] edoedoardo commented on #333
Hi, thanks for your help. this solution fix the drag problem, but it throw ClassCastException anyway when i try to call the saveAsBitmap method

[2021-04-19 15:21] mrvancor commented on #333
As another solution you can use transparent png image or create drawable with transparent color:
`<?xml version="1.0" encoding="utf-8"?>`
`<selector xmlns:android="http://schemas.android.com/apk/res/android">`
`    <item android:drawable="@color/transparent" />`
`</selector>`
and then add app:photo_src="@drawable/transparent"

[2021-04-19 15:37] mrvancor commented on #333
I think this issue can be fixed by adding an empty drawable (in else condition) to somewhere in this place: [link](https://github.com/burhanrashid52/PhotoEditor/blob/1f4608b6d891c45b4175504ecbbba211aa08b6c4/photoeditor/src/main/java/ja/burhanrashid52/photoeditor/PhotoEditorView.java#L75).

[2021-04-21 14:50] amiralichesser3 opened #340 "Cannot add a fixed view"
By a fixed view I mean a view which you cannot move. with no movement option and no close button on the top left. Is there any hidden option for doing so?

[2021-04-22 09:53] burhanrashid52 commented on #340
No currently. It's not supported in the library. But can do this by [removing](https://github.com/burhanrashid52/PhotoEditor/blob/master/photoeditor/src/main/java/ja/burhanrashid52/photoeditor/PhotoEditor.java#L161) MultiTouchListner.
Just curious to know what is the use case for this fixed view?

[2021-04-22 11:50] amiralichesser3 commented on #340
Well maybe you would like to add some views from a json file, and some of those views need to move but some others need to be fixed and un-removable. No outside box shown, nothing. Should be super duper easy for you to do.

[2021-04-23 10:30] burhanrashid52 commented on #340
For now, you can use the approach I mentioned in the above comment. We can into the library if more people are interested.

[2021-04-24 10:29] #219 closed

[2021-04-24 17:14] lucianocheng commented on #334
Android 11 (SDK 30) is enforcing scoped storage [1]. Broad file access (even via the `requestLegacyExternalStorage`) will be deprecated if you target SDK 30 [2]. Developers are beginning to get warnings about it starting May 5 2021 [3]

As far as I know, there's no current way to use PhotoEditor without the app being granted file access. The code would have to be changed to move to scoped storage.

[2021-04-25 09:22] tanoDxyz commented on #334
I hope @DipakUmrigar you are using **File Save Helper** declared in the **sample app** which will save files on all devices but if you are not using this do the following. </br> </br> 1- you had storage permission declared like this </br>
`<uses-permission` android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> </br> </br> 2- check out **Edit Image Activity*

[2021-04-26 05:39] lucianocheng commented on #234
@msroid I'll check this out.

Looks like they use a cool trick to keep the "corner buttons" consistent size [here](https://github.com/kencheung4/android-StickerView/blob/master/src/main/java/com/knef/stickerview/StickerView.java#L100), at the very least we could apply that.

[2021-04-26 05:42] lucianocheng commented on #234
@burhanrashid52 could you assign this to me? Thanks.

[2021-04-26 05:46] burhanrashid52 commented on #249
Closing due to no activity

[2021-04-26 05:46] #249 closed

[2021-04-26 05:54] lucianocheng commented on #122
As @burhanrashid52 mentioned in #142 , I think returning the raw View objects is probably exposing too much.

If a user of the library is given access to the View directly, this is essentially "promising" that return type as part of the PhotoEditor API. If we made changes to the View stack for the stickers / text / etc, that would break that promise.

A good solution would be a "Handle" object to

[2021-04-26 05:59] lucianocheng commented on #79
For those following this: If your use case is to only crop the image once, before it is loaded, I was able to get this working with [uCrop](https://github.com/Yalantis/uCrop). The solution is blunt: Just crop the incoming image before loading it into the PhotoEditor.

The tricky part about solving this is cropping *after* the image has stickers, text, etc on it. All the things I've tried involve a

[2021-04-27 16:42] rahat14 opened #343 "Text Not Showing in Sample App"
Text Not Showing in the sample app

<a href="https://ibb.co/2Wz6XbK"><img src="https://i.ibb.co/17CnHS2/Screenshot-1619541075.png" alt="Screenshot-1619541075" border="0"></a><br /><br />

[2021-04-28 09:59] burhanrashid52 commented on #343
Are you able to type and add the text?

[2021-05-01 16:28] abdullah230695 opened #344 "Not able to save image - Snackbar shows Failed to save"

[2021-05-01 19:26] tanoDxyz commented on #344
any additional info :>

[2021-05-03 06:14] abdullah230695 commented on #344
after selecting the image , when I touch download icon it says "Failed to save image" as a snackBar, the image is not getting saved in gallery.

[2021-05-03 12:22] burhanrashid52 commented on #344
Can you please share the stack trace of the error.

[2021-05-03 12:37] abdullah230695 commented on #344
yes see this, Im getting the result in OnFailure method

The log says : **java.io.FileNotFoundException: /storage/emulated/0/Pictures/1620045395282.png.jpg: open failed: EACCES (Permission denied)**

[2021-05-03 12:46] burhanrashid52 commented on #344
Seems like you did not allow storage permission for the app. Please check and allow the storage permission for the app on setting.

[2021-05-03 17:52] abdullah230695 commented on #344
actually it doesn't ask for write permission when touching download icon and also its not showing storage option in app settings. so I just removed " maxSdkVersion=28 " from manifest now its showing storage permission in app settings and I just enable it manually now its working . I can able to save image. but the problem is its not asking for write permission at first...

[2021-05-03 18:11] abdullah230695 commented on #344
To ask permission I just added the permission this code
**if(Build.VERSION.SDK_INT>=Build.VERSION_CODES.M) {
            if (checkSelfPermission(Manifest.permission.WRITE_EXTERNAL_STORAGE) == PackageManager.PERMISSION_DENIED) {
                String[] permission = {Manifest.permission.WRITE_EXTERNAL_STORAGE};
                requestPermissions(permission, WRITE_EXTERNAL_STORAGE_CODE);

[2021-05-03 18:12] abdullah230695 commented on #344
Anyway you have built a nice project Thankyou so much

[2021-05-04 05:53] lucianocheng commented on #343
@rahat14 there's a issue sometimes where you must click on the text field (black screen area) before typing to activate the cursor.

[2021-05-04 05:55] lucianocheng opened #345 "When isTextPinchScalable is set to false, it disables all scaling for all stickers and emoji as well as text"

[2021-05-04 05:56] lucianocheng commented on #345
@burhanrashid52 found this while looking at flags. Fix is incoming. Please assign to me.

[2021-05-04 08:06] burhanrashid52 commented on #344
@tanoDxyz Do you have any input on this ?

[2021-05-04 09:06] #345 closed

[2021-05-04 09:26] lucianocheng commented on #214
Copied from https://github.com/burhanrashid52/PhotoEditor/pull/217

Update: I actually have this working but it's a huge change.

Essentially the editor has to keep track of a "mask" of each image that can be used to quickly calculate intersection. This mask must be updated whenever a user resizes an image.

The recalculation of the masks happens on a threadpool, and the storage happens within eac

[2021-05-04 09:27] lucianocheng commented on #214
@burhanrashid52 you can assign this to me

[2021-05-04 14:15] GauravPoswalAndroid opened #347 "Not able to save gif"
i am not able to save gif as a sticker. Is there any way to save gif. Please help to solve this issue.

[2021-05-04 18:46] lucianocheng commented on #122
@burhanrashid52 do you have any thoughts on what I wrote above? This is related to a lot of other tickets such as #43, #183, #212, and others. Essentially any functionality that involves custom code related to a sticker, emoji or text view.

[2021-05-05 10:06] burhanrashid52 commented on #214
Can you explain what to you mean by "keep track of a "mask" of each image" ? Also by snapshot do you mean the view object snapshot ?

[2021-05-05 10:09] burhanrashid52 commented on #347
gif is not supported. Duplicate of #38

[2021-05-05 10:09] #347 closed

[2021-05-05 10:17] burhanrashid52 commented on #122
Is this Handler object smiliar to config object i.e [TextStyleBuilder](https://github.com/burhanrashid52/PhotoEditor/blob/master/photoeditor/src/main/java/ja/burhanrashid52/photoeditor/TextStyleBuilder.java) ? If not then can you share any example or link. Just need to understand how this handle object works.

[2021-05-05 20:10] lucianocheng commented on #214
Right so, if you have ever dealt with computer graphics, it's not unlike ray tracing with a bounding box hierarchy.

Basically every time a user resizes a sticker (img, text, etc), we take a 2-bit "mask" of the view object. It's not a snapshot because it's only tracking if a pixel is alpha or not. Basically if a pixel is filled in this "mask", it's a valid click intersection point. If it's not, it

[2021-05-06 05:34] lucianocheng commented on #214
Related to https://github.com/burhanrashid52/PhotoEditor/pull/58

[2021-05-06 11:40] burhanrashid52 commented on #214
It's seems complex. My only concern is... would it be worth it to do it now ? Since I did not see much response from users of this library for this feature.

[2021-05-06 11:52] lucianocheng commented on #214
It may not be. It may make more sense just to make the appropriate events
available so I can implement it outside the photoeditor object.

This would be tricky though since I would need the ability to "reject" a
selection event. I'd have to think about it. There are other things that
make sense to work on first.

On Thu, May 6, 2021, 4:40 AM Burhanuddin Rashid ***@***.***>
wrote:

[2021-05-06 15:33] tanoDxyz commented on #344
well if @abdullah230695 is running the code on emulator than there is a slight chance that correct code will cause the problem .
second the only thing that came up in my mind while seeing this error is that if `requestLegacyExternalStorage` is used in conjuction with android device that is running android 10 or above - it will cause such error.

[2021-05-06 15:54] #344 closed

[2021-05-06 21:07] fsfaysalcse opened #348 "I can't add custom text in photoEditor ! please help"
My code is below

[code]

[2021-05-07 05:56] burhanrashid52 commented on #348
Any error or stacktrace ?

[2021-05-10 15:01] #343 closed

[2021-05-10 15:03] burhanrashid52 commented on #299
Thanks for the issue. I will link this to #79 and will close this one.

[2021-05-10 15:03] #299 closed

[2021-05-11 04:31] KimiChiu opened #349 "setFilterEffect(customEffect) replaces another filter effect."
[code]

Does this work as intended?
Is there a way to add multiple filters to the same image?

[2021-05-11 11:29] burhanrashid52 commented on #349
This is by design. You can apply one filter at a time. I won't overlap.

[2021-05-11 19:25] fsfaysalcse commented on #348
Nope ! Text style not applied . Like i set text color as red but still showing black .

[2021-05-12 08:55] KimiChiu commented on #10
How about using a custom draw to scale down the `imageView` display size, so we are still painting on the full size.
I found a implementation here.
https://stackoverflow.com/questions/12169905/zoom-and-panning-imageview-android

[2021-05-12 12:02] burhanrashid52 commented on #348
I would be hard to track the issue this way. I don't see anything wrong in the code it should work as expected.

[2021-05-12 12:08] burhanrashid52 commented on #10
Are you able to make it work ? @KimiChiu

[2021-05-13 13:19] burhanrashid52 commented on #334
Closing due no activity

[2021-05-13 13:19] #334 closed

[2021-05-13 13:19] #349 closed

[2021-05-13 13:20] burhanrashid52 commented on #328
@tanoDxyz Is there any update on the PR ?

[2021-05-13 13:28] #11 closed

[2021-05-13 13:29] burhanrashid52 commented on #166
closing due to inactivity

[2021-05-13 13:29] #166 closed

[2021-05-13 13:30] burhanrashid52 commented on #106
closing due to inactivity

[2021-05-13 13:30] #106 closed

[2021-05-13 13:31] #129 closed

[2021-05-13 13:31] #116 closed

[2021-05-13 14:26] KimiChiu commented on #10
It depends, I have 7 ongoing projects.
it's an easier way to start.
I tried a workaround which is to put a `HorizontalScrollView` as a parent but had no luck.

[2021-05-14 07:09] GauravPoswalAndroid opened #350 "How can we get the added sticker image view updated dimension after scaling?"

[2021-05-14 10:10] burhanrashid52 commented on #350
Currently, there is no public API for accessing it. Not sure but this might help [#260 (comment)](https://github.com/burhanrashid52/PhotoEditor/issues/260#issuecomment-667325968)

[2021-05-16 20:18] fsfaysalcse commented on #348
Can you provide me a demo code ?

[2021-05-17 11:41] burhanrashid52 commented on #348
`EditImageActivity` is the sample code. Check [this](https://github.com/burhanrashid52/PhotoEditor/blob/master/app/src/main/java/com/burhanrashid52/photoediting/EditImageActivity.java#L433).

[2021-05-17 11:57] fsfaysalcse commented on #348
I want to add text outline how can i do that  ?

[2021-05-18 03:40] burhanrashid52 opened #351 "Refactoring"
- [x] Extract PhotoEditor interface
- [x] Moved getEmoji to EmojiBSFramgment. It’s been removed from the library now.
- [x] Move Javadoc to an interface.
- [x] Extracted Graphics Manager for undo-redo, add and remove graphic.
- [x] Created graphic types Emoji, Text, and Sticker.
- [x] Update View in GraphicManager
- [x] Created GraphicHelper to clear views and helper boxes.
- [x] Extracted Brush s

[2021-05-20 10:04] iamthreshant commented on #348
I think currently there is no support for text outline.
Not a perfect solution, but you can try using a different font family which has a default outline.

[2021-05-21 01:06] #350 closed

[2021-05-21 01:07] #239 closed

[2021-05-24 08:40] Android-4 opened #353 "Text cross img is not visible"
after adding text on image box is visible but the cross img which is delete that text is not visible instead of cross img i get grey color dash
![2021-05-24](https://user-images.githubusercontent.com/74585306/119320904-b05f8400-bc99-11eb-9a8c-93c83d217d61.jpg)

[2021-05-24 08:45] Android-4 commented on #353
Please look into this issue

[2021-05-24 10:50] burhanrashid52 commented on #353
Does it happened after zooming the image ?

[2021-05-24 10:59] Android-4 commented on #353
no

[2021-05-24 11:00] Android-4 commented on #353
even if i dont zoom image i still dont get cross image their

[2021-05-24 13:00] Android-4 commented on #353
Hello team, any update on this?

[2021-05-25 02:22] #351 closed

[2021-05-26 04:31] Android-4 commented on #353
Hello team, any update on this?

[2021-05-31 11:19] brittle123 opened #354 "Filters Adapter"
Hello Sir!,... In FilterViewAdapter, from where these filtered images "filters/original.jpg" are coming? Because these are not visible to me as shown in the image given below when i'm using your code and not hiding the tools recyclerview when i click on the filter option.But when i'm using your library it shows me all of these images. Please do let me know ASAP!
Thanks & Regards.

![Filters](https

[2021-05-31 12:31] #354 closed

[2021-06-02 03:02] burhanrashid52 commented on #306
Closing this issue due to no acitivty.

[2021-06-02 03:02] #306 closed

[2021-06-03 10:06] mahmood199 opened #356 "How do i remove the rectangular box that appears around text and stickers?"
Please help
I can't modify the library files in android studio as it is locked

[2021-06-03 11:05] burhanrashid52 commented on #356
Import module instead from maven. The sample already uses the local module.
https://github.com/burhanrashid52/PhotoEditor/blob/master/app/build.gradle#L35

[2021-06-05 17:20] syldri opened #357 "the possibility to add video"
hello I would like to know when we will have an update to add the video.

thank you

[2021-06-06 09:59] burhanrashid52 commented on #357
This library is for editing images. We don't have any plan to support video editing.

[2021-06-06 10:00] #357 closed

[2021-06-10 16:39] syldri opened #359 "request for information on the application ban"
hello I would like to know if there is a problem with the application it seems to be prohibited

https://dl.bintray.com/samanjafaridotir/easyCountDownTimerTextview/ja/burhanrashid52/photoeditor/1.1.4/photoeditor-1.1.4.pom

[2021-06-11 11:08] burhanrashid52 opened #360 "Kotlin Migration"
This issue is created to see demand for Koltin for this library. Please provide your feedback in the comments or you can upvote and downvote the issue.

[2021-06-11 11:15] burhanrashid52 commented on #359
Jcenter was shutdown[ last month](https://developer.android.com/studio/build/jcenter-migration). We have move this library to mavenCenter. You can replace with this new artifiacts
[code]
For more details please check [this](https://github.com/burhanrashid52/PhotoEditor#getting-started).

[2021-06-14 07:39] brittle123 opened #361 "Edited Image Path!"
Hello Sir!,... you're saving your edited image in PICTURES directory i think but i can't find in which file you're saving and giving the path for it. Please do let me know where and what do i've to change to save my edited image in custom folder name.
Thanks & Regards

[2021-06-14 11:21] burhanrashid52 commented on #361
You can check `EditImageActivity` or `FileSaveHelper` to saving image to specific path.

[2021-06-14 11:21] #361 closed

[2021-06-15 00:00] #333 closed

[2021-06-15 00:00] #330 closed

[2021-06-15 00:00] #329 closed

[2021-06-15 00:00] #328 closed

[2021-06-15 00:00] #318 closed

[2021-06-15 00:00] #309 closed

[2021-06-15 00:00] #303 closed

[2021-06-17 06:56] brittle123 commented on #10
@burhanrashid52 Please sir add crop feature in your repository ASAP just like in https://github.com/siwangqishiq/ImageEditor-Android

[2021-06-18 07:15] alirezazarghi opened #363 "not worked onBitmapRead"
hi can help me, me needed set run time set Filter Effect and save as bitmap   :

 private void setupFilters(Bitmap bitmap) {

        PhotoEditor mPhotoEditor;
        PhotoEditorView mPhotoEditorView;
        Bitmap bitmapFilter;
        mPhotoEditorView = new PhotoEditorView(mContext);
        mPhotoEditor = new PhotoEditor
                .Builder(mContext, mPhotoEditorView)
                .bu

[2021-06-18 11:38] burhanrashid52 commented on #363
I am not sure what you are trying to achieve here ? Can you explain me the usecase ?

[2021-06-18 13:27] alirezazarghi commented on #363
help me to create
![photofilters](https://user-images.githubusercontent.com/46616724/122568008-24255000-cffe-11eb-9cf0-af749fd1f233.gif)
thx

[2021-06-22 09:15] gilons opened #364 "Make the ImageView customisable."
**Is your feature request related to a problem? Please describe.**
Currently, I'm working on a react-native library that is using this library in android. I'm interested in using react-native's ImageView implementation as the `resource` but the property `resource` is not assignable(Kotlin).

**Describe the solution you'd like**
I think just making the property assignable will give the possibility

[2021-06-22 10:38] burhanrashid52 commented on #364
I did not understand it. Can you share an example ?

[2021-06-22 11:01] gilons commented on #364
Here https://github.com/burhanrashid52/PhotoEditor/blob/fa11ad85341aa852d946e774bf09da0539d77afd/photoeditor/src/main/java/ja/burhanrashid52/photoeditor/PhotoEditorView.java#L127
, in the implementation of PhotoEditorView.java, the getResource method returns an ImageView and resource is not assignable .

[2021-06-22 11:54] gilons commented on #364
Is that clear enough or you need more details?

[2021-06-23 10:59] burhanrashid52 commented on #364
You can use `ImageView` instance to set your image.
[code]

[2021-06-23 11:41] gilons commented on #364
Is it possible to change the default ImageView?
that's what I want to achieve

[2021-06-23 12:19] burhanrashid52 commented on #364
No currently it's not.

[2021-06-23 12:20] gilons commented on #364
That's the feature I'm currently requesting

[2021-06-23 12:23] burhanrashid52 commented on #364
What other Object you want in return instead of `ImageView` ?

[2021-06-23 12:43] gilons commented on #364
React Natives ImageView implementation

[2021-06-23 12:44] burhanrashid52 commented on #364
Can you some pseudo code here ?

[2021-06-23 12:46] gilons commented on #364
https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/image/ReactImageView.java

[2021-06-23 13:28] gilons commented on #364
what do you want me to speudocode?

[2021-06-25 15:15] syldri opened #367 "(BaseActivity.java : 67 )"
hello I have a problem I have this bug that comes up regularly

if you have a solution to that thank you very much

![image](https://user-images.githubusercontent.com/39193219/123445546-4871c580-d5d8-11eb-9a55-f3f955d2658a.png)

![image](https://user-images.githubusercontent.com/39193219/123445173-ec0ea600-d5d7-11eb-958e-85fd8c7d6159.png)

[2021-06-28 10:13] burhanrashid52 commented on #367
Sorry to say this but this is not how open source project work. You cannot post the crash reporting logs and expects to be fix by us. Please use use issue template by providing more details.

[2021-06-28 10:13] #367 closed

[2021-07-01 02:48] rtz333 opened #368 "add text style bold,italic,underline,strike,shadow"
[code]
[code]

[2021-07-01 02:50] rtz333 commented on #368
usage:
new TextStyleBuilder()
      .withTextColor(123)
      .withTextSize(12f)
      .withGravity(3)
      .withTextFont(Typeface.DEFAULT)
      .withBackgroundColor(321)
      .withTextAppearance(144)
.withTextStyle(....)
.withTextFlag(...)
.withTextShadow(...);
      .applyStyle(textView);

[2021-07-01 11:07] burhanrashid52 commented on #368
Can you please add some description to the issue or explain the usecase ?

[2021-07-02 01:45] rtz333 commented on #368
I just added a few features to this project. Use case:

TextStyleBuilder textStyleBuilder=new TextStyleBuilder();

TextShadow textShadow=new TextShadow(2,2,2,ContextCompat.getColor(EditImageActivity.this,R.color.red_orange_color_picker));
        textStyleBuilder.withTextShadow(textShadow);
textStyleBuilder.withTextFlag(Paint.STRIKE_THRU_TEXT_FLAG|);  //  text strike line

//text underline :Paint.

[2021-07-02 11:22] burhanrashid52 commented on #368
Please raise a PR for this with test. Will review it.

[2021-07-04 10:48] anderbytes commented on #121
PR #370 drafted to allow show/outline. I still need to do some testing before he approves it.

[2021-07-04 14:33] anderbytes commented on #368
Very good. Hope it gets to main. Much better than the simple PR that I posted with only the Shadow modification.

[2021-07-04 14:41] anderbytes opened #371 "Allow access to objects from outside (remove some private's)"
Would it be possible to let be public the array of Views created inside the editor?

Sometimes we need to customize an added text or another object in a way that your current methods doesn't support, and creating SEVERAL methods inside your app just to do some simple changes isn't very productive.

[2021-07-05 10:02] burhanrashid52 commented on #371
Can you share a usecase or example ?

[2021-07-08 17:40] lucianocheng commented on #360
Speaking strictly for myself, this project not being in Kotlin diminishes my ability to contribute.

It is literally my only remaining Android Java project.

[2021-07-09 11:34] #368 closed

[2021-07-09 14:24] anderbytes commented on #371
Providing an array of the TextViews, ImageViews, etc from inside the editor would make it possible for us developers to widely customize their behaviour, content, etc without having to create withText this witText that...

if the editor would provide a simple List<TextView> and List <ImageView> and other as such, and made their objects public, we devs would be responsible for any visual customizat

[2021-07-10 02:18] #72 closed

[2021-07-10 10:56] burhanrashid52 commented on #371
We have this discussion before. Doing this will [exposing too much.](https://github.com/burhanrashid52/PhotoEditor/issues/122#issuecomment-826526081)

Internally PhotoEditor set touche listeners on views to scale and rotate and some state saves inside view object. If we expose views to the client they can change or remove all the listener and state on the view which will break PhotoEditor and caus

[2021-07-10 15:17] anderbytes commented on #371
Got it... I just managed to used getChildren to do some customizing already, it's not as flexible and structured as hoped, but it works. Thanks!

[2021-07-10 15:17] #371 closed

[2021-07-10 21:36] anderbytes opened #372 "Sharing feature"
Why there's no "SHARE" method in PhotoEdit besides saveBitmap and saveFile ?

I saw that the app has a "Share" button but it only works after SAVING the image first. Why is that like this? I need to make it possible to startActivity + Intent just after my user edits what he needs, and nothing does the job because the nearest I could get was to try it inside onBitmapReady, but as it is a background

[2021-07-11 10:53] burhanrashid52 commented on #372
What do you mean by sharing ? Sharing edited image to other app ? If yes, we can only share the file path other apps for which we need to save the file before sharing it. That's how google photos do it

[2021-07-11 13:56] anderbytes commented on #372
Ok but what if the editor automatically saves a file in it's CACHE folder in Android, and transparently sends it via Intent, instead of forcing us to manually saving it. Wouldn't it be 100% better?

When you use an app or browser a website, would you think as normal if the website asks you to save the locally when you click on "Share" ?

[2021-07-11 17:46] anderbytes commented on #372
I even programmed to try to send the Intent of sharing on the onBitmapReady of the editor, but the MOMENT is not the best, as the async build is still happening.

Maybe if the cache-saving was done at the OnBitmapReady , and the SHARING using "StartActivity" on the OnPostExecute of the async task, then it may work

[2021-07-12 03:32] yy1023283126 opened #373 "When i zoom in the picture，close button also scaled"
I need to fix it, any suggest can i to improve it？

[2021-07-12 03:36] lucianocheng commented on #373
This is related to an issue here: https://github.com/burhanrashid52/PhotoEditor/issues/234.

I linked to a potential solution on that thread. I haven't tried it but there's no reason it shouldn't work.

[2021-07-12 11:34] burhanrashid52 commented on #372
Sharing link from browser/app and sharing the actual content is different. As I gave example of Google Photos that if photo is not locally present at the time of sharing it downloads the image first and then share it.

The library is focus on making image editing easy. How those image are shared in not much concern of the library. It's the part of the app which uses this library. Hence I wont be s

[2021-07-13 14:11] anderbytes opened #374 "saveAsBitmap with error"
I'm trying to execute saveAsBitmap but I often get this error:

**E/ImageFilterView: onDrawFrame: android.graphics.Bitmap@de42880
E/PhotoEditorView: saveFilter: android.graphics.Bitmap@de42880
D/PhotoEditorView: onBitmapLoaded() called with: sourceBitmap = [android.graphics.Bitmap@de42880]
    onBitmapLoaded() called with: sourceBitmap = [android.graphics.Bitmap@de42880]
E/AndroidRuntime: FATAL EX

[2021-07-13 15:59] wasim15185 opened #375 "Shared Element Transition is not working"
**Describe the bug**
If Shared Transition between ImageView of Fragment A , ImageView of Fragment B then it transition Work fine  But
If Shared Transition between PhotoEditorView of Fragment A , PhotoEditorView of Fragment B then it is not working

**Some Preview**

*ImageView to ImageView Transition animation (**and want to achieve this**)*

![img](https://media.giphy.com/media/sfYGWRdTqQxqZwcHx4

[2021-07-14 01:18] rtz333 opened #376 "Bug saved"
Sometime when i try to saved this image i face this error. Can anyone fix this?

E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #9
    Process: com.example.textphotos, PID: 18414
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$4.done(AsyncTask.java:415)
        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)

[2021-07-14 02:18] rtz333 commented on #374
i face this error too even i used save as file

[2021-07-14 03:41] anderbytes commented on #374
@burhanrashid52 please any ideas on that? I saw that 1.1.0 version addressed a similar error.

By the way... I use 1 base activity and several Fragments+Jetpack in my app , and not several activities.

[2021-07-14 08:04] yy1023283126 commented on #376
same

[2021-07-14 10:26] burhanrashid52 commented on #375
The transition name of the view should be same. In the above example it's different.

Fragment A
[code]

Fragment B
[code]

Also `PhotoEditorView` is `ViewGroup` which extends `RelatvieLayout` If you want do something on image then use `photoEditorView.getSource()` which return the`ImageView`

[2021-07-14 10:27] burhanrashid52 commented on #374
Honestly. I don't why I caused it. And I was not able to reproduce it. Someone raised a PR with the fix and merge it.

[2021-07-14 10:29] burhanrashid52 commented on #376
Duplicate of #374

[2021-07-14 10:29] #376 closed

[2021-07-14 11:29] anderbytes commented on #374
I will be trying to debug this with more details. But @burhanrashid52 could you please explain a little about the logic of how saveAsBitmap works?  As far as I understood, the "PhotoSaverTask" class organizes the steps, and tries to collect the active views in the editor and does something to them.

**at ja.burhanrashid52.photoeditor.PhotoSaverTask.captureView(PhotoSaverTask.java:161)
at ja.burhan

[2021-07-14 16:47] wasim15185 commented on #375
Thank You :) . I solved the problem .

[2021-07-14 21:40] anderbytes commented on #374
Just sent a PR to try to resolve this mysterious issue.
https://github.com/burhanrashid52/PhotoEditor/pull/377

It is explained on the PR, but briefly... it seems that on PhotoSaverTask, if the **createBitmap** method (which probably is async inside) is not finished before the **draw** method just ahed, it just sends the blank bitmap object inside the canvas, and we don't want that.

So I added (a

[2021-07-15 00:00] #348 closed

[2021-07-15 03:46] yy1023283126 commented on #221
anyone can improve this？

[2021-07-15 17:34] anderbytes commented on #374
Changed the solution with a new PR, now insted of a delay, the draw command retries until the Bitmap is created and it succeeds.

[2021-07-17 03:20] HarryHaiVn opened #378 "Android - Media Scanner not working on api 28 (sam sung s8)"
Thank you for sharing the project, I tried some functions and got 1 error.
When I store photos on my device (api 28). My collection has been automatically updated. The notifyThatFileIsNowPubliclyAvailable function only calls when > 28 . Looking forward to your response.

[2021-07-17 10:41] burhanrashid52 commented on #378
Okay seems like not the issue with the library. Do you mean the gallery is not getting updated with a saved image ?

[2021-07-19 11:24] anderbytes commented on #374
@burhanrashid52 ?

[2021-07-19 13:31] RGdevz commented on #374
I was facing the same issue, what I did is got rid of the async task and run everything on main thread (I dont use the save to file), now there zero problems. I think you should switch out the asynctask or do the captureView on the main thread

[2021-07-19 16:01] stephanepechard opened #379 "Should disallow drawing on left or right of the image"
**Describe the bug**
Currently, it is possible to draw on the outside (right and left only) of the selected image, due to the way the layout is set.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an image that lets right and left sides empty (black on the demo app ;
2. Brush on these parts ;
3. You can see shapes on the outside of the image.

**Expected behavior**
It is not possible

[2021-07-19 16:52] anderbytes commented on #374
How did you got rid of the async task? Because here I don't see a way to do it just "using" the editor.

I don't know if the captureView can be done from without the async because the whole process of creating the bitmap is in there... so it has to be put afterwards in there.

So the dev could remove all from async and do all in main thread... I don't know if that would cause some type of "freezin

[2021-07-19 17:10] RGdevz commented on #374
I just change the whole PhotoSaverTask to a Runnable and its works, been testing it and im not getting any freezes in the ui

[2021-07-19 19:33] anderbytes commented on #374
But doesn't that need a PR? Because the best here would be to only link the online dependency of an official release, not tamper with the code of the editor itself.

[2021-07-19 19:34] anderbytes commented on #374
The tests of #377 still weren't finishing, even after I removed the WHILE of the previous commit, so I ended that PR and will work on another one, that time working on an alternate version of saveBitmap and saveFile that doesn't need an ASYNC extension.

[2021-07-19 20:40] anderbytes commented on #374
New https://github.com/burhanrashid52/PhotoEditor/pull/381 to let the user use a SYNC save instead of the default one, if wanted.

[2021-07-20 06:07] yy1023283126 opened #382 "When I saveFilter，blinking a black sreen"
There is a mask in the demo so it is not obvious

[2021-07-20 12:04] burhanrashid52 commented on #379
Can we make it configurable from `PhotoEditor.Builder` says setShapeClip(true)` by default it will be false, so that it does not break the existing behavior.

[2021-07-20 12:08] burhanrashid52 commented on #382
Sorry I did not understand. Can you please use the issue template?

[2021-07-20 14:38] stephanepechard opened #383 "Get a callback when the image source is touched"
**Feature description**
Depending on the way adding elements (text, stickers, etc.) are added to the view, it may be useful to get a way to know where the user has touched the source image.

**Solution description**
A callback to `OnPhotoEditorListener` should be sufficient. It can be triggered from `imageView.setOnTouchListener` of `
PhotoEditorImpl`.

[2021-07-20 14:59] anderbytes commented on #383
Good, would be nice to know how useful this is. Can you tell some examples?

[2021-07-20 15:01] anderbytes commented on #382
Just to add a little to the discussion: It never bothered me enough, but when I save the image, for just some milliseconds the editor blinks black, then comes back normally with the content. It's so quick I found it "ok" to handle.

Don't know if that's related to what you said here.

[2021-07-20 15:16] stephanepechard commented on #383
My use case is the following: I want my user to add text not with a dedicated button as with the demo app, but on touch on the image when text tool is selected (my UI is quite different). But currently, there's no way to catch any event on the image when Brush mode is off.

[2021-07-20 15:53] yy1023283126 commented on #382
Yes，that‘s it

[2021-07-21 01:12] yy1023283126 commented on #382
Do you know how to handle it?

[2021-07-21 11:05] anderbytes commented on #382
When I meant Handle I was talking about living with it

[2021-07-23 00:51] ToanNguyen97 commented on #379
Hi!, this is a wonderful feature, I really need it but seems it's not have in lastest release version, right?
Please tell me how I can add it, tks

[2021-07-23 10:29] burhanrashid52 commented on #379
Currently it's not merged and hence not release. Will release it soon.

[2021-07-23 10:33] ToanNguyen97 commented on #379
tks so much

[2021-07-23 13:46] anderbytes commented on #382
Right now I'm focused on getting #381 done because it's very important here, when my head is clear on that, I'll take a look at your issue.

[2021-07-23 15:10] yy1023283126 commented on #382
Thank you，my friend

[2021-07-26 09:39] Sambal-Srivastava commented on #194
It is still not able to create the bitmap. Did this work for anyone?

[2021-07-31 02:31] #379 closed

[2021-07-31 02:32] #383 closed

[2021-07-31 02:38] #364 closed

[2021-07-31 02:38] #363 closed

[2021-07-31 02:38] #359 closed

[2021-07-31 02:38] #356 closed

[2021-07-31 02:38] #353 closed

[2021-08-03 00:31] lucianocheng commented on #373
Still looking at this

On Mon, Aug 2, 2021, 5:07 PM github-actions[bot] ***@***.***>
wrote:

[2021-08-05 17:40] wasim15185 opened #385 "Using painting In PhotoEditorView , drawing mode is working on "ImageView" and "RelativeLayout" both instead of only "ImageView""
**Problems Preview (watch _PaintFragment_)**

**_Updated preview Link_**

![](https://media.giphy.com/media/2saENYjYhCAzwDgvVV/giphy.gif)

**Problems :**

1. In **PaintFragment**  Although `ja.burhanrashid52.photoeditor.PhotoEditorView` width is `android:layout_width="match_parent"` but it is not stretch width as parent width
2. We know `PhotoEditorView`  is combination of `ImageView` and `Relativ

[2021-08-05 22:42] anthonylaurienti commented on #281
Wondering if there is any update or feedback on this? I'm still having this issue in 1.5.1.
@burhanrashid52

[2021-08-06 10:35] burhanrashid52 commented on #385
I think #379 might solve this issue. You can also check #380. It there is version `1.5.1`

[2021-08-06 10:37] burhanrashid52 commented on #281
Yes, currently it's not supported because using the just on `BrushDrawingView` as a first child view. So everything else will be on top of brush view.

[2021-08-06 12:29] wasim15185 commented on #385
Thank You 👍

[2021-08-06 14:33] wasim15185 commented on #385
@burhanrashid52 but problem with adding Sticker and Text

[2021-08-06 16:18] wasim15185 commented on #385
@burhanrashid52  but same problem with adding Sticker and Text (Updated)

[2021-08-07 13:08] burhanrashid52 commented on #385
@stephanepechard Can we fix this ?

[2021-08-08 14:38] stephanepechard commented on #385
@wasim15185 I'm not sure to understand the problem. Is it that Stickers and Texts appears outside the source image?

[2021-08-09 04:13] wasim15185 commented on #385
I am giving the sticker preview and after some time i will give the text preview  because text fragment have some bug and i am redesigning from scratch ...

**preview 1**
![text ](https://media.giphy.com/media/4eRMkTBwwXP2hSKsLo/giphy.gif)

**preview 2**
![text ](https://media.giphy.com/media/4eRMkTBwwXP2hSKsLo/giphy.gif)

[2021-08-10 20:10] anthonylaurienti commented on #281
Is there any desire to change this? I'm currently testing a change where I bring the drawing view to the front while the brush is enabled then sending it back down to the bottom when I'm done drawing (I'll likely add an apply button or something), which works for my needs.

If there is any interest in this feature I'd be happy to contribute my changes.

[2021-08-10 23:02] anderbytes commented on #374
@burhanrashid52 , just here to give some little update. I'm still doing some tests here but I think I got exactly the reason of the IndexOutOfBounds on the DoInBackground of the saveBitmap method.

As far as I got, it happens because the view is not yet available to be drawn in a Canvas. So the array that should contain a view, contains nothing. I believe that the "isDirty()" method is the best wa

[2021-08-10 23:04] anderbytes commented on #374
I've read a lot about wait/notify, but every solution required to code inside the implementation of the method that KNOWS when the flag is changed, so INSIDE the View class (that I don't recommend to mess with)

So I'm not seeing, for now, another solution other than a busy-wait. There could be a 100ms interval between each check, that would be enough to relieve the CPU a lot

[2021-08-11 10:36] burhanrashid52 commented on #281
Can you share some pseudo code here ? To understand how it works.

[2021-08-11 23:04] anderbytes commented on #360
Brace yourselves, I'm working on this. The first commit will be ONLY about converting each JAVA to KOTLIN, right after I'll be working on a commit with the only purpose of replacing the goddamn ASYNC with Coroutines

[2021-08-12 03:04] anderbytes commented on #360
All seems to work but I'm having some trouble with the FILE PROVIDER and permissions to save on storage. Don't know why, I can't find the error, I'm missing something and I don't know what it is.

I'll be doing a commit right now, someone please go there and take a look and help me fix it. Thanks!

ps: "photoeditor" library inside the project is working. The permission problem mentioned above is i

[2021-08-13 16:16] anthonylaurienti commented on #281
Sure,

This is the way I believe things are supposed to work (though if I'm wrong feel free to correct me) View height is controlled by a combination of the View's elevation and TranslationZ, where the elevation is the static part and the TranslationZ is dynamic.

A couple of things need to be done in order to move the views around in the Z axis. First, the source image needs to be set lower than

[2021-08-14 10:02] burhanrashid52 commented on #281
Okay. I understand that `setTranslationZ(1);` will help to bring the view front and back. And I think we can achieve the same thing using `bringToFront()` method on the view.

But the question is, how it will solve the problem ?

Let say if you add a sticker on top of the brush but you want to move the brush above the sticker and set the `setTranslationZ(1);` this will bring the brush on top but i

[2021-08-14 12:32] wasim15185 commented on #385
@burhanrashid52  please resolve issue

[2021-08-20 18:39] anderbytes commented on #382
Had some time to look into it... but nothing so far... but it seems something in the internals of the VIEW rendering into the CANVAS, both native from the Java libraries.

Unfortunately the blinking doesn't appear at the correct time if we are debugging, only after we release the debug from pause and the view drawing again.

I would guess we need some expert who knows a lot about GL + graphic rend

[2021-08-23 01:11] yy1023283126 commented on #382
Yes，that‘s very difficult’

[2021-08-29 14:19] akshayherle11 commented on #374
I tried to find out the solution for it, The error is caused because of the captureView in the PhotoSaverTask because it it is not running on the Main UI thread . Error is caused when added view to the PhotoEditorView is out of the area of it .

Solution is to run the function on main UI thread even if the view is out of box(area) it works

 photoEditor.clearHelperBox();
        photoEditorView.ge

[2021-08-29 14:52] anderbytes commented on #374
Not exactly. Maybe you found another reason for the same issue.

But the one I tracked pointed me that the IndexOutOfBounds exception is generated inside the **photoEditorView.draw(canvas)** inside your code above.

I have  been having this issue even if all the views are inside the boundary. Also... if I TRY to debug the issue and put a breakpoint right before the draw(canvas) in Android Studio,

[2021-08-31 03:33] lucianocheng commented on #360
What model / Android version are you running where you see this?

It may be a good idea to not convert the whole project to kotlin at once. Maybe just the `app` first? Or even just the tests would be a huge improvement but a good foray into a larger change.

[2021-08-31 05:53] jsericksk opened #388 "Change the logic of updateView() to be called in onClick()"
It seems to me that it makes more sense to call [updateView()](https://github.com/burhanrashid52/PhotoEditor/blob/8d72cf20bc9523f8f10d69a44707316f0d31538d/photoeditor/src/main/java/ja/burhanrashid52/photoeditor/Graphic.java#L89) which triggers onEditTextChangeListener() in onClick() and not onLongClick(), as it is more expected to edit the text right after clicking on it rather than a long click.

[2021-08-31 11:13] burhanrashid52 commented on #388
Nothing special. Just a more convenient UX. I am not sure but the click might cause with dragging the text view.

[2021-08-31 11:48] anderbytes commented on #360
I'm doing all my tests on a Moto E5 and a Samsung M31, probably the issue was seen on both, I'd have to look into it again

Everything seems to work... but this. So maybe the full migration to Kotlin is actually possible.

[2021-08-31 13:27] jsericksk commented on #388
I can't remember any photo editor app that does this in one long click.

But, in fact, this behavior would not be very ideal for the current structure of the library, as it would make it impossible for the drag and drop event before tapping once to edit, as the text would first need to be selected to get the drag event correctly.

In a more intrusive editing UI, like a dialog, this doesn't really

[2021-08-31 18:28] gabrielfreisan opened #389 "Error to share after save"
**Describe the bug**
I try share an image, but the app stop

**To Reproduce**
E/AndroidRuntime: FATAL EXCEPTION: main

**Expected behavior**

File> EditImageActivity.java

 292 - private Uri buildFileProviderUri(@NonNull Uri uri) {
        return FileProvider.getUriForFile(this,
                FILE_PROVIDER_AUTHORITY,
                new File(uri.getPath()));
    }

  287 -      Intent intent = n

[2021-09-01 11:02] burhanrashid52 commented on #389
Is storage permission is enabled ?

[2021-09-01 20:17] tanoDxyz commented on #389
actually you are sharing to another app outside your app's context (roughly speaking) and i guess you need a permission on that uri . add grant read/write uri permission and it will work if all other things are in place.

[2021-09-02 12:47] jsericksk opened #390 "Improve behavior in the tap and drag event"
As I mentioned in the [previous issue](https://github.com/burhanrashid52/PhotoEditor/issues/388), the editing behavior in onLongClick() didn't look very good. But switching to onClick() didn't seem like a good idea due to the library's current behavior. Looking at the code a bit, I realized that the drag event can only be done [if the sticker is in focus](https://github.com/burhanrashid52/PhotoEdi

[2021-09-02 23:19] anthonylaurienti commented on #281
Sorry for the long delay on this.

Take a look at these for some extra info on how Z ordering works.
https://developer.android.com/guide/topics/ui/how-android-draws.html
https://developer.android.com/reference/android/view/View#Drawing

Bringing the brush to the front with setTranslationZ(1); will effectively raise it above everything currently on the screen, since its Z is now set to 1 instead of

[2021-09-03 00:08] #378 closed

[2021-09-03 00:08] #375 closed

[2021-09-03 10:55] burhanrashid52 commented on #281
I understand the setTranslation effect. But the concern is it will be on top of all other views i.e text, emoji, and images.
Let say we draw a line using brush and we've got two text. How do we replace one text below the line and second text above the same line ?

[2021-09-03 12:52] gabrielfreisan commented on #389
was not requested by the app

[2021-09-03 12:55] gabrielfreisan commented on #389
Sell ​​as Fulfillment. even if it was right the app should ask for permission and not close abruptly.
Are there any undeclared classes

[2021-09-03 17:30] anthonylaurienti commented on #281
I thought the line's drawn were underneath all of the stickers by default anyway, so I'm not sure I'm understanding how the line could be above one view and beneath another?

[2021-09-06 21:30] siddharthbhat777 commented on #389
did you find solution for this ? same problem here

[2021-09-06 21:31] siddharthbhat777 commented on #389
did you find solution for this ? same problem here.

[2021-09-07 16:46] amirsarafian opened #391 "zoom and rotate imageView"
Is there a way to zoom in and out and rotate image?
if not please add
Thanks

[2021-09-08 10:55] burhanrashid52 commented on #391
You can use pinch to zoo, rotate and scale.

[2021-09-10 17:32] #388 closed

[2021-09-12 23:15] red-game-dev opened #392 "[Bug or misunderstanding] Usage of Plugin"
**Describe the bug**
Trying to invoke `ja.burhanrashid52.photoeditor.PhotoEditor.Builder` but nothing is being shown, yet other methods works and shows something, such as `addImage`. How do I properly set it up?

I tried as well through new java app for testing, same result, while using concurrent version.

**Further information where i am using this**

This is not pure Java, I'm using Nativescrip

[2021-09-13 10:52] burhanrashid52 commented on #392
This is interesting. I've not tested this with cross-platform plugins. You are saving addImage works. So I did not understand the exact issue. What do you mean by setting it properly ? It will work only when it is set properly.

[2021-09-13 12:41] red-game-dev commented on #392
Hi @burhanrashid52 !

Yes, indeed it is, in fact it would be helpful, since it would possible that we could as well later release it as plugin based from this plugin as native (would include as well iOS with some other plugin, I believe). But for the time being, which just need it for ourselves, as there is no need for separating the logic.

What I'm trying to achieve in here is to have the follow

[2021-09-14 12:15] fscarponi opened #393 "Software rendering doesn't support hardware bitmaps (2.0)"
Hi all, maybe the demon is back....
when I use the file chooser for the image, it is correctly loaded (edited etc) but fails on FileSave
![image](https://user-images.githubusercontent.com/36624359/133256157-454b0ea0-ff92-4438-8557-53a663d86f50.png)

NOTE: all work if image come from the camera, or from APP dedicated storage on the system

![image](https://user-images.githubusercontent.com/36624359

[2021-09-14 12:47] fscarponi commented on #393
Founded workaround,
create a copy of bitmap on cache, and load the image from there again

![image](https://user-images.githubusercontent.com/36624359/133260162-7fdacdc1-3cdc-46f6-9010-18a7fc0096cb.png)

[2021-09-16 07:04] muslimmuda15 commented on #391
How to pinch to zoom and rotate?
It just says `Pinch to Scale and Rotate views.` but doesn't show how to do that.

[2021-09-16 07:04] muslimmuda15 commented on #391
How to pinch to zoom and rotate?
It just says `Pinch to Scale and Rotate views`. but doesn't show how to do that.

[2021-09-16 10:08] burhanrashid52 commented on #391
https://www.computerhope.com/jargon/p/pinch-to-zoom.htm

[2021-09-16 15:36] muslimmuda15 opened #394 "Image Breaking Orientation After Filter"
I want to change the orientation of image after shot from camera from portrait into landscape. So I need to rotation and reduce scale the view like this

[code]
The result was correct

![Screenshot_2021-09-16-22-20-34-00](https://user-images.githubusercontent.com/26782958/133641249-2b70e870-674f-4baf-bd79-14e71a539f3d.jpg)

I try to filter the image

[code]

I getting the image is breaking like th

[2021-09-18 03:04] khalil05400 opened #395 "Can not rotate image using this library"
I'm unable to rotate images using this library
any idea about this

[2021-09-18 09:46] nvThanh opened #396 "Photo low quality after editing"
You turn view into bitmap after adding sticker to save image as bitmap. so the oupt quite low resolution?

[2021-09-18 11:06] burhanrashid52 commented on #392
The only sample demo I've for now is `EditImageActivity` in `app` module. If you are inserting `PhotoEditorView` in native using js then make sure it has some height and width define or have `match_parent`.

[2021-09-18 11:08] burhanrashid52 commented on #394
You are rotating the whole drawing view i.e `PhotoEditorView`. If you want to rotate the image the get `ImageView` from `photoEditorView.getSource()` and applying to rotation to that.

[2021-09-18 11:10] burhanrashid52 commented on #395
Please use the ISSUE template for providing detailed information.

[2021-09-18 11:11] burhanrashid52 commented on #396
Please check #10

[2021-09-19 16:51] FranTar1991 commented on #392
I think this is a misunderstanding, I also had the same problem. I thought that just by building the PhotoEditor will be good to go but it turns out that you have to implement all of the functions, you can see this in the example app called Photo Editor, clone the project and you´ll see.

[2021-09-20 19:35] jsericksk opened #397 "Scaling issue when loading images by network"
When I try to load an image with some image library, the image behaves differently than normal. This issue also occurs when using an image stored on the device. `setImageResource()` is the only no that has this problem, when the image is loaded locally in res/drawable.

Using the Coil library: `photoEditorView.source.load(imageUrl)`. The same happens with `photoEditorView.source.setImageURI(URI)`

[2021-09-21 04:16] jsericksk commented on #397
I noticed that setting the image directly with the library can solve this problem, depending on the library used. With **Glide:**
`Glide.with(context).load(imageUrl).centerInside().into(photoEditorView.source)
`

I didn't get the same behavior with **Coil**, which is my focus. Even though the ImageView has a scaleType defined before,
Coil apparently doesn't use it. Alternatively, as a workaround,

[2021-09-23 15:01] davidamayuelas commented on #168
I still facing the same issue and the solution proposed doesn´t work for me. I just added on my editor a crop option and the image looks good there. Also, applying rotation programmatically doesn´t work after using a filter on the photo.

[2021-09-28 00:42] edisonSanchez opened #398 "Image reduced in PhothoEditorView"
Hello, Grettings,

the property match_parent don't working in phothoEditorView because the image to edit look trim and small, when the size should be so big how the view parent and that don't happend, any advice on how to fix it?

thank´s

[2021-09-28 10:45] burhanrashid52 commented on #398
Sorry I did not understand the issue. Can you please elaborate ?

[2021-09-30 06:29] Muzzamildeveloper opened #399 "Camera captured Image cropping, filter implementation Issues"
Sir, I am facing these issues with this library in android 11.
1. when I capture image and click on ok its not opening captured image for cropping.
2. when I am apply filters its showing black screen after saving an image.

**Expected behavior**
1. In first bug camera is capturing image but not showing on activity.
2. In second bug, applying filter showing black screen on save. these issues are on

[2021-09-30 11:06] burhanrashid52 commented on #399
A cropping image is not supported. I am not sure how you are cropping it.

[2021-09-30 16:35] hamza-ahmed opened #400 "/0/Pictures/.pending-1633624436-1633019636185.png.jpg: open failed: EACCES (Permission denied)"
java.io.FileNotFoundException: /storage/emulated/0/Pictures/.pending-1633624436-1633019636185.png.jpg: open failed: EACCES (Permission denied)
at libcore.io.IoBridge.open(IoBridge.java:492)
at java.io.FileOutputStream.<init>(FileOutputStream.java:236)
at ja.burhanrashid52.photoeditor.PhotoSaverTask.saveImageInFile(PhotoSaverTask.java:86)
 at ja.burhanrashid52.photoeditor.PhotoSaverTask.doInBackgro

[2021-10-01 04:51] #399 closed

[2021-10-02 10:57] immujahidkhan opened #401 "How to save or resume draft editing ? in which format should I saved?"
**Describe the bug**
I want to save editing as draft and continue or you can say resume from my draft section?

**To Reproduce**
Steps to reproduce the behavior:
1. Add image
2. Add text
3. Then how to save draft?
4. If draft can be done then in which format should be I have to saved?
5. If I resume my work from draft then that bitmap should be editable.

**Expected behavior**
I want to allow User

[2021-10-02 11:04] immujahidkhan opened #402 "How can i add ready made logo/templates?"
**Describe the bug**
How can I add ready made logo so user can choose and just start renaming? [like this app] (https://play.google.com/store/apps/details?id=org.contentarcade.apps.logomaker) and user can move rotate etc. In short all layers must be moveable

[2021-10-02 15:23] burhanrashid52 commented on #401
Duplicate of #119

[2021-10-02 15:24] burhanrashid52 commented on #402
It not supported in this library and currently we don't have any plans for this.

[2021-10-03 14:38] immujahidkhan commented on #402
Can you please suggest how it works? i need some road map to make it happen!

[2021-10-04 06:02] immujahidkhan commented on #119
@hfarhanahmed did you find any solution till now?

[2021-10-04 06:03] immujahidkhan commented on #305
@worldemp-pratikpitale did you find any solution till now?

[2021-10-04 06:03] immujahidkhan commented on #26
@amrilkholid did you find any solution till now?

[2021-10-04 19:08] anderbytes commented on #374
Don't close it

[2021-10-04 19:08] anderbytes commented on #382
Don't close it

[2021-10-05 04:18] worldemp-pratikpitale commented on #305
Not yet.

[2021-10-05 13:13] kccodeguy opened #403 "Text editor not showing text, no saving in Android 10"
I tried the app on a Samsung Galaxy A6 with Android 10 and text editor does not render text during typing.
It also fails when saving.

[2021-10-07 07:19] immujahidkhan commented on #402
@burhanrashid52

[2021-10-09 04:11] jsericksk commented on #374
Any news about this issue? @anderbytes

[2021-10-09 11:35] anderbytes commented on #374
Unfortunately, no. I have created a branch with the less-wrong solution I
could find, as the main dev doesn't seem to be very bothered by the issue.

Even his sample app forces the user to first phisically save the image
before sharing it, and I wonder why, probably because he also had issues on
sharing the image right out of the screen, as I tracked the issue to be
related to the "drawing" being

[2021-10-09 14:20] jsericksk commented on #374
Right. I'll test it later and come back to say if it worked or not. Sounds like an interesting solution to me.

[2021-10-09 14:42] anderbytes commented on #374
Yeah good luck. The way the canvas.draw() command works internally, I
believe it should natively wait for the bitmap to be not dirty, or at least
have a boolean parameter allowing us to request this behaviour.

But no, I had to check it manually.

Em sáb., 9 de out. de 2021 11:20, Ericks ***@***.***>
escreveu:

[2021-10-09 17:24] jsericksk commented on #374
I have tested it and unfortunately the problem keeps happening. I tried to apply a different timeout, but it didn't work.

[2021-10-09 21:48] anderbytes commented on #374
Wow really? Is the error also an indexoutofbounds exception in the logcat?
I hope its not a different issue

Em sáb., 9 de out. de 2021 14:24, Ericks ***@***.***>
escreveu:

[2021-10-09 23:42] jsericksk commented on #374
Not really. Looks like we're having different problems then. What happens to me is: **java.lang.IllegalArgumentException: Software rendering doesn't support hardware bitmaps**.

Logcat:
**Process: com.kproject.memezim, PID: 5372
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$4.done(AsyncTask.java:415)
        at java.util.concurre

[2021-10-15 15:17] ducthang123 opened #405 "The eraser tool does not work for me."
**Describe the bug**
I downloaded your project example on Github but the eraser tool does not work for me.  I touch Erase tool, I only see text eraser mode.

**Smartphone Info:**
 - Device: [e.g. Samasung J5 prime]
 - OS: [e.g. Android 7.0]
 - Version [e.g. 1.1.5]

[2021-10-15 15:21] #405 closed, assigned to nobody

[2021-10-17 21:57] Kahorogenics commented on #403
Facing the same issue here

[2021-10-18 13:37] Kahorogenics commented on #403
how do I get the edited image from the PhotoEditorView  and save it using the above method

[2021-10-21 16:53] lucianocheng opened #406 "Convert tests to Kotlin"
Beginning the process laid out in #360 of converting the codebase to Kotlin.

Starting with the tests since that's the easiest to review. Will move on in follow-ups to the demo code, then the PhotoEditorCode

[2021-10-29 02:42] huunhan18pro opened #410 "The Opacity doesn't work in the demo"
![Screenshot_20211029-094044_Photo Editor](https://user-images.githubusercontent.com/5953762/139364880-f7241a02-3f42-43f9-bc56-70fa82f7b493.jpg)

[2021-11-03 00:09] #390 closed

[2021-11-03 00:09] #389 closed

[2021-11-03 00:09] #385 closed

[2021-11-03 00:09] #373 closed

[2021-11-03 11:40] EbelloImbox opened #411 "Disable Compression"
Hello I am looking for a way to disable compression, is it possible?

I am doing compression for my own with other library and I would like to use it because I am doing a double compression right now, with PhotoEditor and later with my own library.

Regards.

[2021-11-03 12:32] EbelloImbox commented on #411
I am watching PhotoEditor code and this could be a problem too:

[code]

This is the way to build the final image and it could be a problem because bitmap resolution is the resolution of the view, and view is a PhotoEditorView, so if an user has a low resolution mobile, bitmap will be a low resolution image.

Any help to get a hight quality image from editor?

[2021-11-04 10:38] burhanrashid52 commented on #411
This library is not designed to handle that. This issue is discussed here #10

[2021-11-09 10:01] TimothyGCY opened #412 "Draw on Gif"
I just happen to import a gif and caused
`java.lang.ClassCastException: android.graphics.drawable.AnimatedImageDrawable cannot be cast to android.graphics.drawable.BitmapDrawable`

with there be any plan to make this plugin support gif edit?

[2021-11-09 10:22] burhanrashid52 commented on #412
No. Gif is not supported

[2021-11-09 10:28] #412 closed

[2021-11-12 11:00] filipef101 commented on #177
@FazliMolaJan Did you do that?

[2021-11-15 11:44] xiachaoxulu opened #413 "How to addShape with a definite coordinate （point(x,y)）"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-15 11:44] xiachaoxulu opened #414 "How to addShape with a definite coordinate (point(x,y))"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-15 12:40] xiachaoxulu opened #415 "How to resize shape"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-17 06:16] lucianocheng commented on #234
Specifically they use a function called `convertDpToPixel` to convert the handle to a fixed pixel size using the system screen's DPI measurement. Basically forcing the re-size of the handle to a fixed number of pixels for every redraw.

[2021-11-22 01:35] TimothyGCY commented on #334
Forgive me if this is improper behaviour to put comment on closed issue.
For my case, i used FileSaveHelper and it happens almost all devices are able to save images with it, but so far I only noticed this device: Huawei P30 (Android 10) will still prompt the error.

So far I have tested on Android Emulator (Android 8, 9) and Realme C21 & Oneplus 8 (Android 11)

`W/System.err: java.io.FileNotFound

[2021-11-22 15:46] jdaniel1998 opened #416 "Background turns black when put filter"
![Screenshot_20211122-104418_Both](https://user-images.githubusercontent.com/75588018/142891706-45fdf12a-ff6d-4e31-a8c5-eb37f0e92020.jpg)

[2021-11-26 10:42] burhanrashid52 commented on #406
Merge #407

[2021-11-28 18:52] anderbytes commented on #360
#418 did a pull request on the app conversion to Kotlin

[2021-11-28 18:57] anderbytes commented on #360
Just to point that in the recent Kotlin conversion I had stumbled again with that, but know with more knowledge of Kotlin I was able to solve the issue

[2021-12-01 01:02] anderbytes commented on #374
after the code goes to Kotlin I'll take another shot here on trying to debug a "real trusted" version of a solution.

My latest one (and working so far on my device) includes a busy-wait checking every 100ms if the View is Dirty or not,  before being Drawn.

Dirty -> Crash
NotDirty -> Pass OK

[2021-12-03 00:10] #402 closed

[2021-12-03 00:10] #401 closed

[2021-12-03 00:10] #400 closed

[2021-12-03 00:10] #398 closed

[2021-12-03 00:10] #397 closed

[2021-12-03 00:10] #396 closed

[2021-12-03 00:10] #395 closed

[2021-12-03 00:10] #394 closed

[2021-12-03 00:10] #393 closed

[2021-12-03 00:10] #392 closed

[2021-12-03 00:10] #391 closed

[2021-12-07 12:13] tsandun commented on #112
I also get this issue. Edited image not saving.giving same error from AsyncTask => "An error occurred while executing doInBackground()".Did anyone solved this ?

[2021-12-07 15:44] Yumin2019 opened #419 "Filters are not working when I use ActivityResultLauncher"
I'm using PhotoEditor library. I've been really thankful for your PhotoEditor personally.
but while I'm using it, I got an error when I use registerForActivityResult functions

In your project, you're using startActivityForResult functions. when I used them, I didn't get this issue.
but registerForActivityResult are different.

[code]

in EditProfileFragment
[code]

onCreate
[code]

imageProcess f

[2021-12-08 12:22] tsandun commented on #40
Same issue in huawei.First time saved.after that not saving,
using => api 'ja.burhanrashid52:photoeditor:1.1.0'
Used others versions also.same issue.
Got an error from Async.java => "An error occurred while executing doInBackground()".

[2021-12-09 20:47] lucianocheng opened #422 "Convert Example App Code to Kotlin"

[2021-12-12 08:15] Yumin2019 opened #424 "Stickers are too big"
<img src="https://user-images.githubusercontent.com/49779139/145705161-ea867a2d-6c37-4acb-9639-e5e36fb7fadf.png" width="25%" height="25%"> <img src="https://user-images.githubusercontent.com/49779139/145705156-fa89d20f-357a-4a86-898d-ab602643df66.png" width="25%" height="25%">  <img src="https://user-images.githubusercontent.com/49779139/145705262-9d26ed89-9c33-4c63-b4b4-02e17e029541.png" width="2

[2021-12-12 15:35] Yumin2019 commented on #419
I was replacing my functions to startActivityForResult and added orientation logic and I got an error like this.

java.lang.IllegalStateException: Software rendering doesn't support hardware bitmaps

I googled it and I changed my getBitmapFromUri function like this.

Previous
[code]

Now
[code]

And it works well without exception.  and I tried this way to my ActivityResultLauncher issue as well.

[2021-12-19 00:24] #422 closed

[2021-12-19 00:25] lucianocheng opened #426 "Convert main PhotoEditor Library to Kotlin"

[2021-12-22 03:51] ThuyKhanh commented on #179
I googled this problem on the internet.
There is a guy can do the zoom with this library: https://youtu.be/q7zPOtU4Mn8
But he just submit the demo. If you resolve this problem, plz share

[2021-12-22 03:58] ThuyKhanh commented on #76
#179

[2021-12-22 10:23] burhanrashid52 commented on #179
@ThuyKhanh Thanks for the link. I don't have the solution for this right now. Feel free to open a PR when you find one.

[2021-12-27 15:56] #77 closed

[2021-12-27 19:59] didi789 opened #427 "Shapes opacity doesn't work"
**Describe the bug**
Shapes opacity doesn't work

![image](https://user-images.githubusercontent.com/14198588/147503425-ec7d1a37-6e94-439c-8247-b8c0b06e7fb7.png)

[2021-12-28 15:12] burhanrashid52 commented on #427
@stephanepechard Can you look into this ?

[2022-01-01 14:44] PauliusVal commented on #427
In `DrawingView` paint color must be set before setting the alpha value, so these two lines must be switched:

https://github.com/burhanrashid52/PhotoEditor/blob/e617f96142dae5f5a52fd5d58775ebb99f21a2f9/photoeditor/src/main/java/ja/burhanrashid52/photoeditor/DrawingView.java#L79-L80

[2022-01-02 02:49] burhanrashid52 commented on #427
@PauliusVal Can raise an PR with test ?

[2022-01-02 02:50] #424 closed

[2022-01-03 00:11] #411 closed

[2022-01-03 00:11] #410 closed

[2022-01-03 00:11] #403 closed

[2022-01-03 00:11] #382 closed

[2022-01-03 09:29] lisen87 opened #429 "mosaic function"
Thank you for providing excellent plug-in library. Can you add mosaic function?

[2022-01-03 10:24] burhanrashid52 commented on #429
Thanks. What do you mean by mosaic function ?

[2022-01-03 10:52] lisen87 commented on #429
![mmexport1641206763527](https://user-images.githubusercontent.com/20718263/147922168-f5ee165b-ae58-4d15-949c-eb763a05798e.jpg)
like this。
It would be better to have a picture rotation function

[2022-01-03 19:17] hahai96 commented on #374
@anderbytes I also get indexoutofbounds error exception, but i follow @jsericksk and everything works fine

[2022-01-04 15:19] Yumin2019 commented on #419
comment

[2022-01-11 21:17] TheKritix commented on #416
Hi,

I am experiencing same issue. When I have a picture that is oddly shaped it fills out the edges with a black bar when applying a filter. It is pretty annoying as it is also saved when saving.

Not sure what the solution is, as I haven't been able to sort it.

[2022-01-14 18:29] #406 closed

[2022-01-20 16:40] #426 closed

[2022-01-20 16:40] #360 closed

[2022-01-23 08:55] Yogesh-Dubey-0804 opened #432 "INSTALLATION IN REACT NATIVE"
hey im yogesh dubey a newly learned react-native developer @baronha/react-native-photo-editor i was installing this i saw the android installation steps linked to this can anyone please guide me how to install it on react native however i can pay for it but i wanted a real answer.

[2022-01-24 10:31] burhanrashid52 commented on #432
I don't have much knowledge about react-native. Better to move this issue on [that](https://github.com/baronha/react-native-photo-editor) repo.

[2022-01-24 10:31] #432 closed

[2022-01-25 09:58] hafiz013 opened #433 "Can this library include cropping image"
Hi there developer can include cropping image in this library?

[2022-01-25 10:48] burhanrashid52 commented on #433
Duplicate of #79

[2022-01-25 10:48] #433 closed

[2022-01-26 08:19] hafiz013 commented on #79
For me if could manage get photoeditor source and implement fragment dialog to crop image and replace back the image is better.

[2022-01-28 09:17] burhanrashid52 opened #434 "Kotlin Doc"
- [ ] Generate Kotlin doc and publish on Github pages. Similar to Java Doc and push it https://github.com/burhanrashid52/PhotoEditor/tree/gh-pages branch.
- [ ] Update example Java code to Kotlin in README.md and wiki.

[2022-01-28 09:19] burhanrashid52 commented on #434
@lucianocheng Would you or anyone from your team have the bandwidth to pick this up?

[2022-01-28 09:21] burhanrashid52 opened #435 "Using DataBinding in Sample app"
- [ ] ~~Use data binding to bind views in the sample app.~~
- [x] Remove necessary null values.
- [x] Use lateinit.

[2022-01-29 00:29] lucianocheng commented on #434
@burhanrashid52 assigned myself. Will take a look this week then decide if it makes sense for myself or someone on my team to do it.

[2022-02-01 12:27] EbelloImbox commented on #10
Is this problem solved in new version 2.0.0?

[2022-02-02 10:39] burhanrashid52 commented on #10
No. Scaling the image is a hard problem to solve. The 2.0.0 version is just a [Kotlin conversation](https://github.com/burhanrashid52/PhotoEditor#kotlin).

[2022-02-03 00:10] #416 closed

[2022-02-03 00:10] #415 closed

[2022-02-03 00:10] #414 closed

[2022-02-03 00:10] #413 closed

[2022-02-05 23:52] jibraniqbal666 commented on #112
sorry, I don't remember anymore, it resolved if I reset canvas or something. :)

[2022-02-21 15:55] sambhav2358 opened #438 "What about a zoom feature in the editor?"
I see that your library has all that I need but zoom functionality. If you see [this](https://www.youtube.com/watch?v=q7zPOtU4Mn8) video, he has modified your library and added the zoom functionality. Can you also do it ?
Looking for a quick reply.

 Thanks.

[2022-02-21 15:55] sambhav2358 commented on #429
.

[2022-02-25 06:57] lucianocheng opened #439 "Consistent naming of PhotoEditorView throughout the codebase"
There are a handful of places where the `PhotoEditorView` has the identifier `viewGroup` or `parentView` in the codebase.

There are also places where it has the type `ViewGroup` or `RelativeView` rather than `PhotoEditorView`

This is endlessly confusing and makes the codebase less readable and robust. This ticket is to fix this.

[2022-02-25 10:05] #439 closed

[2022-02-27 21:46] lucianocheng commented on #234
Ok, I took a closer look at this.

`android-StickerView` (the repo linked in the first comment) uses a different method for scaling stickers than us:

- `PhotoEditor` scales stickers by adjusting the `scaleX` / `scaleY` values of the frame view that wraps the `ImageView` or `TextView` (for text and emojis). You can see this in `MultiTouchListener.kt`
- `android-StickerView` sets `scaleType` to be

[2022-03-02 22:23] hoangtuancntt opened #441 "save file"
I see FileSaveHelper to be not working. We can save with our path

[2022-03-03 00:16] #427 closed

[2022-03-03 07:35] tanoDxyz commented on #441
Please elaborate it further.
Sent from Yahoo Mail on Android

  On Thu, Mar 3, 2022 at 3:23 AM, ***@***.***> wrote:

I see FileSaveHelper to be not working. We can save with our path

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-03-14 03:44] faizahmaddae opened #444 "how to rotate text on image"
**how to rotate text on image ?**
Please add how to rotate text on image

[2022-03-14 10:55] burhanrashid52 commented on #444
Duplicate of #391

[2022-03-14 10:55] #444 closed

[2022-03-15 16:43] hoangtuancntt commented on #374
I still got this issue when add dirty() :((

[2022-03-16 01:29] hoangtuancntt opened #445 "Index out of bound"
Sometime I got an error Indexout of bound : index1 size 0 when save image. how do I solve this bug ?

[2022-03-17 08:43] sahil0289 commented on #79
If we can get photoeditorview source then we can crop image..After highlighting image or writing text we cannot get edited image to crop.. How to get edited image??

[2022-03-17 09:07] sahil0289 commented on #299
How did you crop image after highlighting or writing text??

[2022-03-19 22:51] lucianocheng commented on #445
@hoangtuancntt do you have a stacktrace we can look at from the crash?

[2022-03-23 02:17] lucianocheng commented on #445
If this is happening sporadically, it may be because a user is adding / removing an element while the editor is saving.

Currently we export the image by reading directly from the View Tree on a AsyncTask background task. If the view tree is changed and not flushed, it can create an inconsistent state.

We don't have a good way to "copy" the view tree before exporting, and we don't want to run the

[2022-04-03 00:16] #419 closed

[2022-04-04 13:48] sambhav2358 commented on #429
.

[2022-04-05 09:23] sajjadroudi opened #449 "Arrow shape"
Arrow shape is a popular shape that most of apps supporting painting on photo support. It will be so great to add this shape to PhotoEditor too.

[2022-04-05 10:48] burhanrashid52 commented on #449
There is already a PR for this. #431

[2022-04-06 09:52] sajjadroudi opened #450 "Shape resizing difficulty"
After adding shape to the page, resizing of that shape is not easy especially for the text with initial small size. The solutions which apps like Instagram and Telegram use are pretty easy to use for the user.

[2022-04-07 10:26] sambhav2358 commented on #438
.

[2022-04-07 16:15] sambhav2358 opened #451 "Zoom feature in the editor to make very small views"

[2022-04-12 06:31] sajjadroudi opened #452 "Crash after resizing sticker"
When I resize emoji and sticker and then click on apply button to save the image using `saveAsFile` method, an exception is thrown and the app crashes. here is the stacktrace:

`E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #8
    Process: com.example.photoeditor, PID: 27338
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$4.done(Asy

[2022-04-18 06:50] idish commented on #374
Experiencing that issue as well

[2022-04-19 04:26] ChanShiraz opened #453 "Zoom effect to editor view"
Hello Dear,
You have developed a very good android library and then you open-sourced it
 I have a request to add a feature of zoom effect to your editor view.
Thanks

[2022-04-19 09:55] burhanrashid52 commented on #453
Duplicate #22

[2022-04-19 09:55] #453 closed

[2022-05-03 00:18] #434 closed

[2022-05-05 04:09] sambhav2358 commented on #451
.

[2022-05-10 08:02] hamza-ahmed opened #455 "Caused by java.lang.IndexOutOfBoundsException Index: 1, Size: 0"
java.util.ArrayList.get (ArrayList.java:437)
android.view.ViewGroup.getAndVerifyPreorderedView (ViewGroup.java:4564)
android.view.ViewGroup.dispatchDraw (ViewGroup.java:5090)
android.view.View.draw (View.java:23771)
android.view.ViewGroup.drawChild (ViewGroup.java:5336)
android.view.ViewGroup.dispatchDraw (ViewGroup.java:5093)
android.view.View.draw (View.java:23904)
ja.burhanrashid52.photoeditor.

[2022-05-10 11:03] burhanrashid52 commented on #455
Duplicate of #374

[2022-05-10 11:03] #455 closed

[2022-05-13 03:11] KeepinRnD opened #456 "Camera take picture was very small size"
When I take picture from camera then took image set and size very small to PhotoEditorView.
![IMAGE 2022-05-13 08:10:44](https://user-images.githubusercontent.com/101090593/168203870-081fd330-5ae3-4cc8-99dc-b39cba150995.jpg)

[2022-05-13 11:00] burhanrashid52 commented on #456
The issue from not the library. The camera picker is causing the issue.

[2022-05-25 23:09] VardanTitan opened #460 "Wrong return value of undo() method"
**Describe the bug**
In some cases `undo()` method returns wrong result.

**To Reproduce**
Steps to reproduce the behavior:
1.  Add a text.
2. Add a brush drawing
3. Call `undo()`
4. `undo()` returns a false although there is a text drawing that can be undone.

**Expected behavior**
`undo()` call returns true so text also can be removed.

**Additional context**
While looking into code I found this

[2022-05-26 10:35] burhanrashid52 commented on #460
Thanks. Can you push the fix with the PR?

[2022-06-03 00:15] #452 closed

[2022-06-03 00:15] #450 closed

[2022-06-03 00:15] #449 closed

[2022-06-03 00:15] #445 closed

[2022-06-27 12:14] uc-sja opened #462 "ImageFilterView: black background on applying a filter"
When I apply filter to any image, the image resizes itself leaving some black background at the borders. Can I have control over that? Can I change the color of that black background?

Also after thoruogh debugging I found out that this happens when mImageFilterView's visibility is set to visible, which means changes need to be done at GLSurfaceView's level. Can you please help me with the same?
!

[2022-06-27 12:56] mubasherhussain3 opened #463 "bitmap is recycled"
when we perform any action on image and reset the bitmap in phtoEditiorView app crash, show in the logcat bitmap is recycled
A clear and concise description of what you expected to happen.

**Smartphone Info:**
 vivo s1 pro
 -Android 11

[2022-07-01 05:41] NahlaSaadAlDeen commented on #213
have anyone find the solution, please?

[2022-07-03 00:21] #456 closed

[2022-07-03 00:21] #438 closed

[2022-07-03 00:21] #429 closed

[2022-07-04 05:12] NahlaSaadAlDeen commented on #210
@akwatson   is there any solution for this problem,please?

[2022-07-04 09:51] mubasherhussain3 commented on #463
simple when we pass bitmap from activity to another or we take bitmap from any image view after that if we use that bitmap which we recieve from other activity or that which we get from imageView it give this error bitmap is recycled #463

[2022-07-05 15:24] adnanbhatti14 opened #464 "Save Multiple Images after editing"
I want to save Multiple/All the images once after editing, but i call FileCreated with onSaveFile but i get no path with editing layer.
How to call onSave method after multiple editing?

[2022-07-05 15:33] adnanbhatti14 commented on #213
I was same issue but now its working fine, OnImageFilterSelected use like below:
    override fun onImageFilterSelected(photoFilter: PhotoFilter?) {
        hideFilters()
        mPhotoEditor?.setFilterEffect(photoFilter)
        val saveSettings = SaveSettings.Builder()
            .setClearViewsEnabled(true)
            .setTransparencyEnabled(true)
            .build()
        if (mPhotoEditor

[2022-07-07 11:25] NahlaSaadAlDeen commented on #213
I'v solved it
add the lib as module in the project, update on ImageFilterView class
the update is in this section of code
 if (!mInitialized) {
            //Only need to do this once
            mEffectContext = EffectContext.createWithCurrentGlContext();
            mTexRenderer.init();
            loadTextures();
            mInitialized = true;
        }

the solution is : remove the mInitiali

[2022-07-10 08:21] ubarua123 commented on #462
I observed the same behaviour. It resized the image!

[2022-07-12 07:24] NahlaSaadAlDeen opened #465 "is there undo, redo support for moving added views ? for example, undo moving text or moving sticker,..."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-14 11:17] vibhu100 opened #466 "width height must be > 0 crash"

[2022-07-14 13:40] #466 closed

[2022-07-18 07:27] NahlaSaadAlDeen commented on #221
any one get solution for this issue?

[2022-07-19 10:26] varindergroove opened #468 "App crash while filter scroll"
I am using user image in filter Adapter. in imageview replace to PhotoEditorView because show current filter show user image but recyclerview not handle the photoEditorView , please answer this

java.lang.RuntimeException: Applying effect in wrong GL context!
        at android.media.effect.EffectContext.assertValidGLState(EffectContext.java:109)
        at android.media.effect.FilterEffect.beginG

[2022-07-20 06:59] adnanbhatti14 commented on #464
Thank you

[2022-07-30 13:23] mehedisoftware opened #470 "Custom font add request"
Please add custom font function

[2022-08-03 00:22] #460 closed

[2022-08-03 00:22] #451 closed

[2022-08-05 16:49] k3b commented on #150
For current state of "adding to f-droid" see https://gitlab.com/fdroid/rfp/-/issues/993

[2022-08-09 05:58] dannyschapeit opened #471 "All layers removed after Screen rotate"
**Describe the bug**
When I rotate the device screen, all layers like Text, Brush,... are removed because the state is not saved and restored.

**To Reproduce**
1. Draw something
2. Rotate the device

**Expected behavior**
On instance save the current state should saved and restored in `onRestoreInstanceState()`

**Smartphone Info:**
 - Device: Samsung Tab Active 3
 - OS: Android 12

**Additional

[2022-08-09 10:50] burhanrashid52 commented on #471
Duplicate of #302

[2022-08-09 11:11] #471 closed

[2022-08-09 14:01] wh173d3v11 commented on #470
Hey its already there..
as mentioned in thier doc, you can use below snippet.
`mPhotoEditor.addText(mTypeface,inputText, colorCode);`

Here, mTypeface is your CUSTOM FONT and you can able to use bold,italic,underline,strike,shadow also.

Refer this test case to usage - [TextStyleBuilderTest.kt](https://github.com/burhanrashid52/PhotoEditor/blob/master/photoeditor/src/test/java/ja/burhanrashid52/ph

[2022-08-14 15:11] Venco-official-275 opened #472 "PhotoPreview is too small"
when i use this function
`photoEditor.setClipSourceImage(true)`
the image preview is becomes to small

[2022-08-15 10:17] burhanrashid52 commented on #472
Can you please share more details.

[2022-08-30 11:47] mbilal51214 opened #473 "Photo Editor state is lost on configuration change"
**Is your feature request related to a problem? Please describe.**
Problem is when theme is changed like from dark mode to light mode or vice versa. The photoEditorView state is lost, I am using MVVM architecture but there is no way to save the state of photoEditor like there is no way I can save the drawn paths on the view so that I can save in my viewModel and pass to the initializer again after

[2022-08-31 10:47] burhanrashid52 commented on #473
Seems like the duplicate of #41 Check my [comment](https://github.com/burhanrashid52/PhotoEditor/issues/41#issuecomment-396121962).

[2022-09-02 16:56] jloskin opened #475 "Replace deprecated startActivityForResult with Result API"

[2022-09-02 17:16] #475 closed

[2022-09-03 00:18] #465 closed

[2022-09-03 00:18] #463 closed

[2022-09-03 00:19] #462 closed

[2022-09-03 22:45] haseebs92 commented on #472
photo editor view class has scale type set to CENTER_INSIDE which is making some images too small, this should be changed to fit center

[2022-09-26 21:17] itinsidenews opened #478 "photo resolution issue"
I selected 4000px by 3600px photo from gallery but after editing its size were just 700 x 650px. can you please tell me how to save image after editing with same original size?

[2022-09-27 04:53] burhanrashid52 commented on #478
Duplicate of #10

[2022-09-27 04:53] #478 closed

[2022-09-28 11:39] tatsuya25 opened #479 "[Bug] saving image in sample does not work on API 29"

[2022-09-29 08:00] hknn opened #480 "İmage upload error"
**Describe the bug**
Before editting the image, I loaded to api. But after image editting, sending to api failed.  Result returned from api : file type couldn't be defined.

How can i solve this problem ?

[2022-09-30 11:35] koai-dev opened #481 "Size photoeditorview"
PhotoEditorView can't fix size match parent or fixed when use with constraintlayout. Can you fix it or make new feature for this?

[2022-09-30 21:40] Lolboer9999999 commented on #10
this worked for me https://github.com/tauseefrehman2/pinch-to-zoom-linear-layout

[2022-10-03 00:24] #470 closed

[2022-10-03 00:24] #468 closed

[2022-10-03 00:25] #464 closed

[2022-10-06 11:36] #480 closed

[2022-10-09 14:42] #479 closed

[2022-10-12 01:23] tamimattafi commented on #55
I'm not having any effect from `ScaleType.CENTER_CROP`, the image is still centered in the center, even if I add `centerCrop() `to glide builder, it does make some difference, but the height of the source `imageView` isn't match parent and the photo is just clipped as a square.

Used this as well, but didn't help
[code]

[2022-10-26 00:41] JorgeRedo opened #485 "Only image is showed when implementing (V.1.0.5 - JAVA)"
When I implement all the funcionality, in my PhotoEditorView I only can see the image, so ' can't see the editor menu in the bottom of the app. I have tried to change sizes, but nothing happened.

I have this code:

XML FILE
`<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://sch

[2022-11-03 00:22] #473 closed

[2022-11-03 00:22] #472 closed

[2022-11-05 21:36] rishujam commented on #485
Hey, Is this project being maintained now?

[2022-11-06 17:26] PxelPartyInc opened #487 "Context null reference"
"android.content.res.Resources.android.content.Context.getResources() on a null reference object", how to solve?

[2022-11-12 16:40] AzizbekRasulmetov opened #488 "Saving image is failing in Android >= 10"
Save image is failing with error Error: open failed: ENOENT (No such file or directory) while testing in android device with version 10.

[2022-11-12 18:38] tanoDxyz commented on #488
please check the sample app.

also please read something about scope  storage

[2022-11-14 02:23] WilsonScott opened #489 "when i saved the photo ,the position of the mark changed when i used a brush tool .but when i changed the orientation to landscape , it worked fine"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots/Video/GIFs**
If applicable, add screenshots/video/gifs to help explain your problem.

**Smartphone Inf

[2022-11-30 14:44] sambhav2358 commented on #228
@Vitor238, then it will become another gif or vidoe. After adding the gif, the file wont remain an image anymore. And since this is only an image editor, u cant add gifs!

[2022-11-30 17:22] #228 closed